<p />
<p />
{{'Select processtype'|translate}}
<p />

	<select class="form-control" 
		style="width:300px;"	
		ng-model="newProcessCtrl.processType"
		ng-options="ptype.trname group by ptype.group for ptype in newProcessCtrl.processTypes" 	
		ng-selected="$first">
	</select>


<div ng-show="newProcessCtrl.processType.recipes" class="col-xs-6">
	<select class="form-control" 
		style="width:300px;"	
		ng-model="newProcessCtrl.recipe"
		ng-options="recipe.trname for recipe in newProcessCtrl.recipes" 	
		ng-selected="$first">
	</select>
</div>

	<p />
	<p />
	<button class="btn btn-default"
			ng-click="newProcessCtrl.addProcess()"
			ng-class= "{disabled: !newProcessCtrl.processType}">
		{{'Create Process'|translate}}
	</button>	

