<p />
<p />
<p />
<h3>{{processCtrl.process.fprocesstype()}} {{processCtrl.process.pnumber}}</h3>
<br />
<h4>{{'Params'|translate}}</h4>
<table class="table">
	<tr ng-repeat="parameter in processCtrl.process.parameters"
		ng-dblclick="parameter.editing=true; newValue=parameter.value">
		<td>{{parameter.namef()}} :</td>
		<td>
			<span ng-hide="parameter.editing">{{processCtrl.showParam(parameter)}}
			</span>
			<input 						   
				ng-keyup="processCtrl.paramKeyUp($event.keyCode,newValue,parameter)"
				ng-show="parameter.editing" type="text"
			    ng-model="newValue" 
			    ng-blur="parameter.editing=false">
			<span ng-show="parameter.unit">
				{{parameter.unitf()}}
			</span>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<!-- um letzten Strich in Tabelle zu erzeugen -->
</table>
		


{{'Status of process run'|translate}}:&nbsp;<span 
ng-hide="processCtrl.editStatus"
class="status"
ng-dblclick="processCtrl.editStatus=true"
ng-class="{'1':'ok','2':'att','3':'failed'}[processCtrl.process.status]" >&nbsp;{{processCtrl.status()}} </span>
 <select class="input-sm"
         ng-show="processCtrl.editStatus"
         ng-change="processCtrl.setStatus()"
         ng-model="processCtrl.newStatus"
         ng-blur="processCtrl.editStatus=false" >
	<option ng-repeat="state in processCtrl.statusStrings" value="{{$index+1}}" ng-selected="processCtrl.process.status==($index+1)">
    	{{state}}  
    </option> 
</select>
<br />
<br />

<h4>{{'Samples in process'|translate}}</h4>

<span ng-repeat="sample in processCtrl.process.samples | orderBy:['trtype','name']">
	<a ui-sref="sample({sampleID:sample.sampleid})">
		{{processCtrl.getType(sample)}} {{sample.name}}</a><br/></span>
<br />
<br />
<button class="btn btn-default" ng-click="processCtrl.openDialog()">
	{{'Add/Remove samples'|translate}}
</button>
<p />
<p />
<p />
	<table>
		<tr>
			<td align="center">
				<span ng-show="processCtrl.process.previous">&#x25c0; {{'previous'|translate}}<br />
					<button class="btn btn-default"
							ui-sref="process({processID:processCtrl.process.previous.id})">
						{{processCtrl.process.trprocesstype}} {{processCtrl.process.previous.p_number}}
					</button>
				</span>
			</td>
			<td>&nbsp;<br /> &nbsp;
				<button type="button" 
						class="btn btn-danger"
						ng-class="{'disabled':!processCtrl.deletable}"
						ng-click="processCtrl.deleteProcess()"
						ui-sref="openExperiment">
					{{'Delete Process'|translate}}
				</button>&nbsp;
			</td>
			<td align="center">
				<span ng-show="processCtrl.process.next"> &nbsp;
					{{'next'|translate}} &nbsp; &#9654; &nbsp; <br />
					<button class="btn btn-default" 
							ui-sref="process({processID:processCtrl.process.next.id})">
						{{processCtrl.process.trprocesstype}} {{processCtrl.process.next.p_number}}
					</button>	
				</span>
			</td>
		</tr>
	</table>
	<p>