<h3 ng-dblclick = "processCtrl.editNumber = true">{{processCtrl.process.fprocesstype()}} 
<span ng-hide = "processCtrl.editNumber">{{processCtrl.process.pnumber}}</span>


<input 						   
	ng-keyup = "processCtrl.keyUpNumber($event.keyCode)"
	ng-show = "processCtrl.editNumber"
    ng-model = "processCtrl.newNumber"
    type = "number">
<br />
</h3>


<timestamp-parameter
    ng-dblclick = "processCtrl.date.editing = true"
    parameter = "processCtrl.date"
    pupdate = "processCtrl.dateUpdate()"
>
</timestamp-parameter>  
<br />
<br />


<!-- Parameters -->
<h4>{{'Parameters'|translate}}</h4>
<paramgrps 
	parametergrps = "processCtrl.process.parametergroups" 
	editable = "processCtrl.editable"
	pupdate = "processCtrl.saveParameter(parameter)">
</paramgrps>

		

{{'Status of process run'|translate}}:&nbsp;
<span style = "display:inline-flex; align-items:center">
<span 
	ng-hide = "processCtrl.editStatus"
	class = "status"
	ng-dblclick = "processCtrl.editStatus = true"
	ng-class = "{'1':'ok','2':'att','3':'failed'}[processCtrl.process.status]" >
	&nbsp;{{processCtrl.status.stringf()}} 
</span>
<a class = "visible-xs" ng-click = "processCtrl.editStatus = true">
	&nbsp;
	<span ng-hide = "processCtrl.editStatus" class = "glyphicon glyphicon-wrench" aria-hidden = "true"></span>
</a>
 <select class = "input-sm"
         ng-show = "processCtrl.editStatus"
         ng-change = "processCtrl.setStatus()"
         ng-model = "processCtrl.newStatus"
         ng-blur = "processCtrl.editStatus=false"
		 ng-options = "state as state.stringf() for state in processCtrl.stati">
</select>
</span>
<br />
<br />


<h4>{{'Samples in process'|translate}}</h4>
<table  class = "table" 
		style = "width:auto" 
		ng-show = "processCtrl.process.samples.length > 0">
	<thead>
		<tr>
			<td> {{'sample'|translate}}</td>
			<td ng-repeat="field in processCtrl.process.fields"> {{field.namef()}} </td>
		<tr>
	</thead>
	<tbody>
		<tr ng-repeat="sample in processCtrl.process.samples | orderBy:['trtype','name']">
			<td>
				<a ui-sref="sample({sampleID:sample.sampleid})">
					{{processCtrl.getType(sample)}} {{sample.name}}</a><br/>
			</td>
			<td ng-repeat = "p in sample.parameters" ng-dblclick = "p.editing=true"> 
			 	<tparameter parameter = "p" pupdate = "processCtrl.pupdate(parameter)"></tparameter>
			</td>
		</tr>
	</tbody>
</table>
<button class="btn btn-default" ng-click = "processCtrl.openDialog()">
	{{'Add/Remove samples'|translate}}
</button>
<br />
<br />
<h4>{{'Files' | translate}}</h4>
<ul>
	<li ng-repeat = "file in processCtrl.files">
		<a ng-href = "file-download/{{file.id}}">
			{{file.filename}}
		</a>
		<button 
			type = "button" 
			class = "btn btn-default btn-xs" 
			ng-click = "processCtrl.deleteFile(file.id)">
			<span class = "glyphicon glyphicon-remove"></span>
		</button>
	</li>
</ul>

<form id = "upload_form" action = "upload-file" method = "post" enctype = "multipart/form-data" >
	<span class="btn btn-default btn-file">
    	{{'Add File'| translate}}
    	<input 
    		type = "file" 
    		name = "file" 
    		id = "file" 
    		onchange = "angular.element(this).scope().processCtrl.upload(this)" 
    		class = "file"/> <br/>
	</span>
</form>
<br/>
<br /> <br />



<br/>
<br/>
	<table>
		<tr>
			<td width = "300" align = "center">
				<span ng-show = "processCtrl.process.previous">&#x25c0; {{'previous'|translate}}<br />
					<button class = "btn btn-default"
							ui-sref = "process({processID:processCtrl.process.previous.id})">
						{{processCtrl.process.fprocesstype()}} {{processCtrl.process.previous.p_number}}
					</button>
				</span>
			</td>
			<td width = "300" >&nbsp;<br /> &nbsp;
				<button type = "button" 
						class = "btn btn-danger"
						ng-click = "processCtrl.deleteProcess()"
						ng-show = "processCtrl.deletable"
						ui-sref = "sampleChoser">
					{{'Delete Process'|translate}}
				</button>&nbsp;
			</td>
			<td width = "300"  align = "center">
				<span ng-show="processCtrl.process.next"> &nbsp;
					{{'next'|translate}} &nbsp; &#9654; &nbsp; <br />
					<button class = "btn btn-default" 
							ui-sref = "process({processID:processCtrl.process.next.id})">
						{{processCtrl.process.fprocesstype()}} {{processCtrl.process.next.p_number}}
					</button>	
				</span>
			</td>
		</tr>
	</table>
<p/> 