<h3>{{processCtrl.process.fprocesstype()}} {{processCtrl.process.pnumber}}</h3>
<br />



<!-- Parameters -->
<h4>{{'Parameters'|translate}}</h4>
<paramgrps 
	parametergrps="processCtrl.process.parametergroups" 
	editable="false"
	pupdate="processCtrl.saveParameter(parameter)">
</paramgrps>

		

{{'Status of process run'|translate}}:&nbsp;<span 
ng-hide="processCtrl.editStatus"
class="status"
ng-dblclick="processCtrl.editStatus=true"
ng-class="{'1':'ok','2':'att','3':'failed'}[processCtrl.process.status]" >&nbsp;{{processCtrl.status()}} </span>
 <select class="input-sm"
         ng-show="processCtrl.editStatus"
         ng-change="processCtrl.setStatus()"
         ng-model="processCtrl.newStatus"
         ng-blur="processCtrl.editStatus=false" >
	<option ng-repeat="state in processCtrl.statusStrings" value="{{$index+1}}" ng-selected="processCtrl.process.status==($index+1)">
    	{{state}}  
    </option> 
</select>
<br />
<br />



<h4>{{'Samples in process'|translate}}</h4>
<span ng-repeat="sample in processCtrl.process.samples | orderBy:['trtype','name']">
	<a ui-sref="sample({sampleID:sample.sampleid})">
		{{processCtrl.getType(sample)}} {{sample.name}}</a><br/></span>
<br />
<br />
<button class="btn btn-default" ng-click="processCtrl.openDialog()">
	{{'Add/Remove samples'|translate}}
</button>
<br />
<br />
	<table>
		<tr>
			<td align="center">
				<span ng-show="processCtrl.process.previous">&#x25c0; {{'previous'|translate}}<br />
					<button class="btn btn-default"
							ui-sref="process({processID:processCtrl.process.previous.id})">
						{{processCtrl.process.trprocesstype}} {{processCtrl.process.previous.p_number}}
					</button>
				</span>
			</td>
			<td>&nbsp;<br /> &nbsp;
				<button type="button" 
						class="btn btn-danger"
						ng-class="{'disabled':!processCtrl.deletable}"
						ng-click="processCtrl.deleteProcess()"
						ui-sref="sampleChoser">
					{{'Delete Process'|translate}}
				</button>&nbsp;
			</td>
			<td align="center">
				<span ng-show="processCtrl.process.next"> &nbsp;
					{{'next'|translate}} &nbsp; &#9654; &nbsp; <br />
					<button class="btn btn-default" 
							ui-sref="process({processID:processCtrl.process.next.id})">
						{{processCtrl.process.trprocesstype}} {{processCtrl.process.next.p_number}}
					</button>	
				</span>
			</td>
		</tr>
	</table>
<p/>