<p />
<p />
<p />
<h3>{{processCtrl.process.trprocesstype}} {{processCtrl.process.p_number}}</h3>
<br />
<h4>{{'Params'|translate}}</h4>
<table class="table">
	<tr ng-repeat="parameter in processCtrl.process.parameters">
		<td ng-click="processCtrl.articleClicked(parameter)">{{parameter.trname}} :</td>
		<td>{{parameter.value}}
			{{parameter.unit.length>0?parameter.unit:''}}</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<!-- um letzten Strich in Tabelle zu erzeugen -->
</table>
		


{{'Status of process run'|translate}}
<br />
<br />


<h4>{{'Samples in process'|translate}}</h4>

<span ng-repeat="sample in processCtrl.chosenSamples | orderBy:['trtype','name']">
	<button class="btn btn-default" ui-sref="sample({sampleID:sample.id})">
		{{processCtrl.getType(sample)}} {{sample.name}}
	</button>
	&nbsp;
</span>
<br />
<br />
<button class="btn btn-default" ng-click="processCtrl.openDialog()">
	{{'Add/Remove samples'|translate}}
</button>
<p />
<p />
<p />
	<table>
		<tr>
			<td align="center">
				<span ng-show="processCtrl.process.previous">&#x25c0; {{'previous'|translate}}<br />
					<button class="btn btn-default"
							ui-sref="process({processID:processCtrl.process.previous.id})">
						{{processCtrl.process.trprocesstype}} {{processCtrl.process.previous.p_number}}
					</button>
				</span>
			</td>
			<td align="center">&nbsp;<br /> &nbsp;
				<button type="button" class="btn btn-danger">
					{{'Delete Process'|translate}}
				</button>&nbsp;
			</td>
			<td align="center">
				<span ng-show="processCtrl.process.next"> &nbsp;
					{{'next'|translate}} &nbsp; &#9654; &nbsp; <br />
					<button class="btn btn-default" 
							ui-sref="process({processID:processCtrl.process.next.id})">
						{{processCtrl.process.trprocesstype}} {{processCtrl.process.next.p_number}}
					</button>	
				</span>
			</td>
		</tr>
	</table>
	<p>