
<button class="btn btn-default"
		ui-sref="parameter">
		&#x25c0;	{{'Back to parameters'|translate}}
</button>

<h3>
	{{'Edit Parameter'|translate}}
</h3>
<!--  <form name="parameterForm">  -->

<br/>
<table class="table">
<tr ng-dblclick="editParamCtrl.edit('NL1')">
	<td>Name ({{editParamCtrl.lang1}}):</td>
	<td>
		<span ng-hide="editParamCtrl.editNL1">{{editParamCtrl.nameL1}}</span>
		<input ng-show="editParamCtrl.editNL1" 
			   ng-keyup="editParamCtrl.keyUp($event.keyCode,'NL1')"
			   type="text"
			   ng-model="editParamCtrl.newNameL1"
			   ng-blur="editParamCtrl.cancelEdit()"
			   autofocus 
			   select-on-click>
	</td>
</tr>
<tr ng-dblclick="editParamCtrl.edit('NL2')">
	<td>Name ({{editParamCtrl.lang2}}):</td>
	<td>
		<span ng-hide="editParamCtrl.editNL2">{{editParamCtrl.nameL2}}</span>
		<input ng-show="editParamCtrl.editNL2" 
			   ng-keyup="editParamCtrl.keyUp($event.keyCode,'NL2')"
			   type="text"
			   ng-model="editParamCtrl.newNameL2"
			   ng-blur="editParamCtrl.cancelEdit()"
			   select-on-click>
	</td>
</tr>

<tr ng-dblclick="editParamCtrl.edit('DL1')">
	<td>{{'Description'|translate}} ({{editParamCtrl.lang1}}):</td>
	<td>
		<span ng-hide="editParamCtrl.editDL1">{{editParamCtrl.descL1}}</span>
		<input ng-show="editParamCtrl.editDL1" 
			   ng-keyup="editParamCtrl.keyUp($event.keyCode,'DL1')"
			   type="text"
			   ng-model="editParamCtrl.newDescL1"
			   ng-blur="editParamCtrl.cancelEdit()"
			   select-on-click>
	</td>
</tr>

<tr ng-dblclick="editParamCtrl.edit('DL2')">
	<td>{{'Description'|translate}} ({{editParamCtrl.lang2}}):</td>
	<td>
		<span ng-hide="editParamCtrl.editDL2">{{editParamCtrl.descL2}}</span>
		<input ng-show="editParamCtrl.editDL2" 
			   ng-keyup="editParamCtrl.keyUp($event.keyCode,'DL2')"
			   type="text"
			   ng-model="editParamCtrl.newDescL2"
			   ng-blur="editParamCtrl.cancelEdit()"
			   select-on-click>
	</td>
</tr>

<tr ng-dblclick="editParamCtrl.edit('UL1')" ng-show="editParamCtrl.hasUnit()">
	<td>{{'Unit'|translate}} ({{editParamCtrl.lang1}}):</td>
	<td>
		<span ng-hide="editParamCtrl.editUL1">{{editParamCtrl.unitL1}}</span>
		<input ng-show="editParamCtrl.editUL1" 
			   ng-keyup="editParamCtrl.keyUp($event.keyCode,'UL1')"
			   type="text"
			   ng-model="editParamCtrl.newUnitL1"
			   ng-blur="editParamCtrl.cancelEdit()"
			   select-on-click>
	</td>
</tr>

<tr ng-dblclick="editParamCtrl.edit('UL2')"  ng-show="editParamCtrl.hasUnit()">
	<td>{{'Unit'|translate}} ({{editParamCtrl.lang2}}):</td>
	<td>
		<span ng-hide="editParamCtrl.editUL2">{{editParamCtrl.unitL2}}</span>
		<input ng-show="editParamCtrl.editUL2" 
			   ng-keyup="editParamCtrl.keyUp($event.keyCode,'UL2')"
			   type="text"
			   ng-model="editParamCtrl.newUnitL2"
			   ng-blur="editParamCtrl.cancelEdit()"
			   select-on-click>
	</td>
</tr>

<tr>
	<td>{{'Datatype'|translate}}:</td>
	<td>
	<select class="input-sm"
			ng-options="type as type for type in editParamCtrl.dataTypes"
			ng-model="editParamCtrl.dataType"
			ng-change="editParamCtrl.update()">
    </select>
  <!--   <button 
    	class="btn btn-default btn-sm"
    	ng-show=editParamCtrl.dataTypeChanged()
    	ng-click="editParamCtrl.update()">
    	ok
    </button>  -->
    </td>
</tr>

<tr ng-dblclick="editParamCtrl.edit('format')" ng-show="editParamCtrl.showFormat()">
<td>{{'Format'|translate}}</td>
	<td><span ng-hide="editParamCtrl.editFormat">{{editParamCtrl.format}}</span>
		<input ng-show="editParamCtrl.editFormat" 
			   ng-keyup="editParamCtrl.keyUp($event.keyCode,'Format')"
			   type="text"
			   ng-model="editParamCtrl.newFormat"
			   ng-blur="editParamCtrl.cancelEdit()"
			   select-on-click>
	</td>
</tr>
<!-- 
<tr ng-dblclick="editParamCtrl.edit('regex')">
<td>{{'Regular expression'|translate}}</td>
	<td><span ng-hide="editParamCtrl.editRegex">{{editParamCtrl.regex}}</span>
		<input ng-show="editParamCtrl.editRegex" 
			   ng-keyup="editParamCtrl.keyUp($event.keyCode,'Regex')"
			   type="text"
			   ng-model="editParamCtrl.newRegex"
			   ng-blur="editParamCtrl.cancelEdit()">
	</td>
</tr>
 -->
<tr ng-dblclick="editParamCtrl.edit('min')" ng-show="editParamCtrl.showMinMaxNumber()">

<tr ng-dblclick="editParamCtrl.edit('min')" ng-show="editParamCtrl.showMinMaxNumber()">
<td>{{'Minimum'|translate}}</td>
	<td><span ng-hide="editParamCtrl.editMin">{{editParamCtrl.min}}</span>
		<input ng-show="editParamCtrl.editMin" 
			   ng-keyup="editParamCtrl.keyUp($event.keyCode,'Min')"
			   type="number"
			   ng-model="editParamCtrl.newMin"
			   ng-blur="editParamCtrl.cancelEdit()"
			   select-on-click>
	</td>
</tr>

<tr ng-dblclick="editParamCtrl.edit('max')" ng-show="editParamCtrl.showMinMaxNumber()">
<td>{{'Maximum'|translate}}</td>
	<td><span ng-hide="editParamCtrl.editMax">{{editParamCtrl.max}}</span>
		<input ng-show="editParamCtrl.editMax" 
			   ng-keyup="editParamCtrl.keyUp($event.keyCode,'Max')"
			   type="number"
			   ng-model="editParamCtrl.newMax"
			   ng-blur="editParamCtrl.cancelEdit()"
			   select-on-click>
	</td>
</tr>
<!-- 
<tr ng-dblclick="editParamCtrl.edit('min')" ng-show="editParamCtrl.showMinMaxTimestamp()">
<td>{{'Minimum'|translate}}</td>
	<td><span ng-hide="editParamCtrl.editMin">{{editParamCtrl.min}}</span>
		<input ng-show="editParamCtrl.editMin" 
			   ng-keyup="editParamCtrl.keyUp($event.keyCode,'Min')"
			   type="date"
			   ng-model="editParamCtrl.newMin"
			   ng-blur="editParamCtrl.cancelEdit()"
			   select-on-click>
	</td>
</tr>

<tr ng-dblclick="editParamCtrl.edit('max')" ng-show="editParamCtrl.showMinMaxTimestamp()">
<td>{{'Maximum'|translate}}</td>
	<td><span ng-hide="editParamCtrl.editMax">{{editParamCtrl.min}}</span>
		<input ng-show="editParamCtrl.editMax" 
			   ng-keyup="editParamCtrl.keyUp($event.keyCode,'Max')"
			   type="date"
			   ng-model="editParamCtrl.newMax"
			   ng-blur="editParamCtrl.cancelEdit()"
			   select-on-click>
	</td>
</tr>
 -->

<td></td>
<td></td>
</tr>
</table>



<div ng-show="editParamCtrl.dataType=='chooser'">
	<h4>{{'Possible values'|translate}}</h4>
	
	<table id="table-container">
	    <tbody data-ng-model="possibleValues" data-as-sortable="dragControlListeners">
		    <tr ng-repeat="item in possibleValues" as-sortable-item style="padding: 7px; white-space:nowrap" >
		        <td as-sortable-item-handle>
		         	<span ng-hide="item.edit" ng-dblclick="item.edit=true">
		        	<span class="glyphicon glyphicon-menu-hamburger" >&nbsp;</span> 
		          	{{item.string}} &nbsp;
		          	</span>
		            <input ng-show="item.edit"
		            	type="text"
		            	ng-model="item.string"
		            	ng-keyup="editParamCtrl.keyUpPValue(item,$event.keyCode)"
		            	autofocus>
		        </td>
		        <td ng-click="editParamCtrl.deletePossibleValue(item)">
		            <span  class="glyphicon glyphicon-remove"></span>
		    	</td>
		    </tr>
	    </tbody>
	</table>
	<br/>
	
	<button type="button" 
			class="btn btn-default" 
			ng-click="editParamCtrl.addPossibleValue()" >
		<b>+</b> {{'Add possible Value'|translate}}
	</button>
</div>


<br/>
<br />






