<h3>
	{{'Parameters'|translate}}
</h3>
<table class="table">
	<thead class=parametertablehead>
		<tr>
			<td class="parametertd">
	 			Name ({{parameterCtrl.lang1}})
			</td>
			<td class="parametertd">
	 			Name ({{parameterCtrl.lang2}})
			</td>
			<td class="parametertd">
	 			{{'unit'|translate}} ({{parameterCtrl.lang1}})
			</td>
			<td class="parametertd">
	 			{{'unit'|translate}} ({{parameterCtrl.lang2}})
			</td> 
			<td class="parametertd">
				{{'Type'|translate}}
			</td>
			<td class="parametertd">
				{{"max. Digits"}}
			</td>			
			<td class="parametertd">
				{{'Description'|translate}} ({{parameterCtrl.lang1}})
			</td>
			<td class="parametertd">
				{{'Description'|translate}} ({{parameterCtrl.lang2}})
			</td>
			<td class="parametertd"
				ng-hide="parameterCtrl.editmode">
			</td>
		</tr>
	</thead>
	
	
	<tbody>
		<tr ng-repeat="parameter in parameterCtrl.parameters | orderBy : 'nameLang1'">
			<td class="parametertd">
	 			{{parameter.nameLang1}}
			</td>
			<td class="parametertd">		
				{{parameter.nameLang2}}
			</td>
			<td class="parametertd">
	 			{{parameter.unitLang1}}
			</td>
			<td class="parametertd">
	 			{{parameter.unitLang2}}
			</td>
			<td class="parametertd">
	 			{{parameterCtrl.datatype[parameter.datatype]}}
			</td>
			<td class="parametertd">
				{{parameter.maxdigits}}
			</td>
			<td class="parametertd">
				{{parameter.descLang1}}
			</td>
			<td class="parametertd">
				{{parameter.descLang2}}
			</td>
			<td class="parametertd" ng-hide="parameterCtrl.editmode">
				<button type="button" class="btn btn-default btn-xs" 
						ng-click="parameterCtrl.deleteParameter(parameter)"
						ng-hide="parameterCtrl.editmode"
						>
						<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
		</tr>
		<tr ng-show="parameterCtrl.editmode">
			<td class="parametertd">
				<input 						   
				type="text"
			    ng-model="parameterCtrl.newNameL1"> 
			</td>
			<td class="parametertd">
				<input 						   
				type="text"
			    ng-model="parameterCtrl.newNameL2"> 
			</td>
			<td class="parametertd">
				<input 						   
				type="text"
			    ng-model="parameterCtrl.newUnitL1"> 
			</td>
			<td class="parametertd">
				<input 						   
				type="text"
			    ng-model="parameterCtrl.newUnitL2"> 
			</td>
			<td>
				<select class="input-sm" ng-model="parameterCtrl.newDataType">
					<option ng-repeat="type in parameterCtrl.dataTypes" value="{{$index+1}}">
				    	{{type}}  
				    </option> 
    			</select>
			</td>
			<td>
				<input 						   
				type="number"
			    ng-model="parameterCtrl.newMaxDigits"> 
			</td>
			<td class="parametertd">
				<input 						   
				type="text"
			    ng-model="parameterCtrl.newDescL1"> 
			</td>
			<td class="parametertd">
				<input 						   
				type="text"
			    ng-model="parameterCtrl.newDescL2"> 
			</td>
					
		</tr>
	</tbody>
</table>
<br />
<button type="button" 
		ng-hide="parameterCtrl.editmode"
		class="btn btn-default" 
		ng-click="parameterCtrl.newParameter()" >
	<b>+</b> {{'Add Parameter'|translate}}
</button>

<button type="button" 
		ng-show="parameterCtrl.editmode"
		class="btn btn-default" 
		ng-click="parameterCtrl.editmode=false" >
	Cancel
</button>

<button type="button" 
		ng-show="parameterCtrl.editmode"
		class="btn btn-default" 
		ng-click="parameterCtrl.addParameter()" >
	Add Parameter
</button>






