<h3>{{'Sign Up'|translate}}</h3>
<form name="signupForm" ng-submit="signupForm.$valid && signupCtrl.pwinput==signupCtrl.pwinput2 && signupCtrl.signup()" novalidate>
   	<p ng-init="signupCtrl.logToken()"></p>   

<br />
<label>{{'Full Name'|translate}}:</label><br />
<input type="text" 
	   ng-model="signupCtrl.fullname" 
	   placeholder="{{'Enter your username here'|translate}}"
	   style="width:300px;"
	   required>
<br />
<br />
<label>{{'Username'|translate}}:</label><br />
<input type="text" 
	   ng-model="signupCtrl.username" 
	   placeholder="{{'Enter your e-mail here'|translate}}"
       style="width:300px;"
       required>
<br />

<label>{{'E-mail'|translate}}:</label><br />
<input type="email" 
	   ng-model="signupCtrl.email" 
	   placeholder="{{'Enter your e-mail here'|translate}}"
       style="width:300px;"
       required>
<br />
<br />
				

<label>{{'Password'|translate}}:</label><br />
<input type="password" 
	   ng-model="signupCtrl.pwinput"
	   placeholder="{{'Enter your password here'|translate}}"
	   style="width:300px;"
	   required>
<br />
<br />

<label>{{'Re-enter Password'|translate}}:</label><br />
<input type="password" ng-model="signupCtrl.pwinput2"
	   placeholder="{{'Re-enter your password here'|translate}}"
	   ng-class="{'uninvalid':signupCtrl.invalid()}"
	   style="width:300px;"
	   required>
<br />     	
<p />
<p />
<input class="btn btn-default"
	   type="submit"
	   value="{{'Sign Up'|translate}}">
</form>
<br /><br />