<h3>{{'Sign Up'|translate}}</h3>
   	<p ng-init="signupCtrl.logToken()"></p>   

<br />
<label>Name:</label><br />
<input type="text" ng-model="signupCtrl.username" 
				   placeholder="{{'Enter your username here'|translate}}"
				   style="width:300px;">
<br />
<br />
<label>{{'E-mail'|translate}}:</label><br />

<input type="email" ng-model="signupCtrl.email" 
				    placeholder="{{'Enter your e-mail here'|translate}}"
				    style="width:300px;">
<br />
<br />
				

<label>{{'Password'|translate}}:</label><br />
<input type="text" ng-model="signupCtrl.pwinput"
				   placeholder="{{'Enter your password here'|translate}}"
				   style="width:300px;">
<br />
<br />

<label>{{'Re-enter Password'|translate}}:</label><br />
<input type="text" ng-model="signupCtrl.pwinput2"
				   placeholder="{{'Re-enter your password here'|translate}}"
				   ng-class="{'uninvalid':signupCtrl.invalid()}"
				   style="width:300px;">
<br />
<br />      	
<p><p>
<button class="btn btn-default" ng-click="signupCtrl.signup()">{{'Sign Up'|translate}}</button>
<br /><br />