<button type = "button" 
		ng-hide = "editSampleParamGrpsCtrl.editmode"
		class = "btn btn-default" 
		ui-sref = "adminSamples" >
	<b>&larr;</b> {{'all sampletypes'|translate}}
</button>

<h3>
	{{'Edit Sampletype'|translate}}{{editSampleType.sampleTypeID}}{{editParamType.paramTypeID}}
</h3>

<br/>
<h4>{{'General information'|translate}}</h4>
<table class = "table">
<tr ng-dblclick = "editSampleParamGrpsCtrl.edit('NL1')">
	<td>Name ({{editSampleParamGrpsCtrl.lang1}}):</td>
	<td>
		<span ng-hide = "editSampleParamGrpsCtrl.editNL1">{{editSampleParamGrpsCtrl.NameL1}}</span>
		<input ng-show = "editSampleParamGrpsCtrl.editNL1" 
			   ng-keyup = "editSampleParamGrpsCtrl.keyUp($event.keyCode,'NL1')"
			   type = "text"
			   ng-model = "editSampleParamGrpsCtrl.newNameL1">
	</td>
</tr>
<tr ng-dblclick = "editSampleParamGrpsCtrl.edit('NL2')">
	<td>Name ({{editSampleParamGrpsCtrl.lang2}}):</td>
	<td>
		<span ng-hide = "editSampleParamGrpsCtrl.editNL2">{{editSampleParamGrpsCtrl.NameL2}}</span>
		<input ng-show = "editSampleParamGrpsCtrl.editNL2" 
			   ng-keyup = "editSampleParamGrpsCtrl.keyUp($event.keyCode,'NL2')"
			   type = "text"
			   ng-model = "editSampleParamGrpsCtrl.newNameL2">
	</td>
</tr>
<tr ng-dblclick="editSampleParamGrpsCtrl.edit('DL1')">
	<td>{{'Description'|translate}} ({{editSampleParamGrpsCtrl.lang1}}):</td>
	<td>
		<span ng-hide = "editSampleParamGrpsCtrl.editDL1">{{editSampleParamGrpsCtrl.DescL1}}</span>
		<input ng-show = "editSampleParamGrpsCtrl.editDL1" 
			   ng-keyup = "editSampleParamGrpsCtrl.keyUp($event.keyCode,'DL1')"
			   type = "text"
			   ng-model = "editSampleParamGrpsCtrl.newDescL1">
	</td>
</tr>
<tr ng-dblclick="editSampleParamGrpsCtrl.edit('DL2')">
	<td>{{'Description'|translate}} ({{editSampleParamGrpsCtrl.lang2}}):</td>
	<td>
		<span ng-hide = "editSampleParamGrpsCtrl.editDL2">{{editSampleParamGrpsCtrl.DescL2}}</span>
		<input ng-show = "editSampleParamGrpsCtrl.editDL2" 
			   ng-keyup = "editSampleParamGrpsCtrl.keyUp($event.keyCode,'DL2')"
			   type = "text"
			   ng-model = "editSampleParamGrpsCtrl.newDescL2">
	</td>
</tr>
</table>
<br/>
<h4>{{'Parametergroups'|translate}}</h4>


<table class = "table">
	<thead class = parametertablehead>
		<tr>
			<td></td>
			<td class = "parametertd">
	 			Name ({{editSampleParamGrpsCtrl.lang1}})
			</td>
			<td class = "parametertd">
	 			Name ({{editSampleParamGrpsCtrl.lang2}})
			</td>
			<td ng-hide = editSampleParamGrpsCtrl.editmode>
				{{'action'|translate}}
			</td>
		</tr>
	</thead>
	
	
	<tbody>
		<tr ng-repeat = "grp in editSampleParamGrpsCtrl.parametergrps | orderBy : 'pos'">
			<td class = "parametertd">
				<button 
					type = "button" 
					class="btn btn-default btn-xs" 
					ng-click = "editSampleParamGrpsCtrl.up($index)"   
					ng-hide = "$first || editSampleParamGrpsCtrl.editmode">&#9650;
				</button>
				<button type="button" class="btn btn-default btn-xs" 
					ng-click = "editSampleParamGrpsCtrl.down($index)" 
					ng-hide = "$last  || editSampleParamGrpsCtrl.editmode" >&#9660;
				</button>
			</td> 
			<td> 
	 			{{grp.nameLang(editSampleParamGrpsCtrl.languages[0].key)}}
			</td>
			<td class="parametertd">		
	 			{{grp.nameLang(editSampleParamGrpsCtrl.languages[1].key)}}
			</td>
		
			<td class = "parametertd" ng-hide = editSampleParamGrpsCtrl.editmode>			
				<div class="dropdown" uib-dropdown on-toggle="toggled(open)">
					<a class="dropdown-toggle" uib-dropdown-toggle>
			  			{{'action'|translate}} &#x25BC;
				    </a>
				    <ul class="dropdown-menu">
				    	<li ng-repeat="action in grp.actions" ng-class="{disabled:action.disabled}">
				        	<a ng-click="editSampleParamGrpsCtrl.performAction(grp,action)">{{action.name}}</a>
				        </li>
				    </ul>
	  			</div>
			</td>
		</tr>
		<tr ng-show = "editSampleParamGrpsCtrl.editmode">
			<td></td>
			<td class="parametertd">
				<input 						   
				type="text"
			    ng-model = "editSampleParamGrpsCtrl.newGrpNameL1"> 
			</td>
			<td class="parametertd">
				<input 						   
				type="text"
				ng-keyup="editSampleParamGrpsCtrl.keyUpPG($event.keyCode)"
			    ng-model="editSampleParamGrpsCtrl.newGrpNameL2"> 
			</td>
		</tr>
	</tbody>
</table>

<button type = "button" 
		class = "btn btn-default" 
		ng-click = "editSampleParamGrpsCtrl.newParameterGroup()" >
	<b>+</b> {{'Add parametergroup'|translate}}
</button>


<br/><br/><br/>

<h4>{{'Titleparameters'|translate}}</h4>

<table class="table">
	<thead class=parametertablehead>
		<tr>
			<td></td>
			<td class="parametertd">
	 			{{'Name'|translate}} ({{editSampleParamGrpsCtrl.lang1}})
			</td>
			<td class="parametertd">
	 			{{'Name'|translate}} ({{editSampleParamGrpsCtrl.lang2}})
			</td>
			<td class="parametertd">
	 			{{'Format'|translate}}
			</td>
			<td class="parametertd" ng-hide="editSampleParamGrpsCtrl.editmode">
				{{'action'|translate}}
			</td>
		</tr>
	</thead>
	
	
	<tbody>
		<tr ng-repeat = "parameter in editSampleParamGrpsCtrl.titleparameters | orderBy : 'pos'">
			<td class = "parametertd">
				<button type = "button" class = "btn btn-default btn-xs" 
					ng-click = "editSampleParamGrpsCtrl.parameterUp($index)"   ng-hide = "$first">&#9650;
				</button>
				<button type = "button" class = "btn btn-default btn-xs" 
					ng-click = "editSampleParamGrpsCtrl.parameterDown($index)" ng-hide = "$last" >&#9660;
				</button>
			</td> 
			<td class = "parametertd" ng-dblclick = "editSampleParamGrpsCtrl.editNL1(parameter)">
				<span ng-hide = "parameter.editNL1">
					{{parameter.nameLang(editSampleParamGrpsCtrl.lang1key)}}
				</span>
				<input 						   
				type = "text"
				ng-show = "parameter.editNL1"
			    ng-model = "parameter.newParameterNameL1"
			    ng-keyup = "editSampleParamGrpsCtrl.keyUpParameter($event.keyCode,parameter)"> 
			</td>
			<td class="parametertd" ng-dblclick="editSampleParamGrpsCtrl.editNL2(parameter)">
				<span ng-hide="parameter.editNL2">
					{{parameter.nameLang(editSampleParamGrpsCtrl.lang2key)}}
				</span>
				<input 						   
				type = "text"
				ng-show = "parameter.editNL2"
			    ng-model = "parameter.newParameterNameL2" 
			    ng-keyup = "editSampleParamGrpsCtrl.keyUpParameter($event.keyCode,parameter)"> 
			</td>
			<td>
				{{parameter.format}}
			</td>
			
		
			<td class = "parametertd" ng-hide = editSampleParamGrpsCtrl.editmode>			
				<div class = "dropdown" uib-dropdown on-toggle = "toggled(open)">
					<a class = "dropdown-toggle" uib-dropdown-toggle>
			  			{{'action'|translate}} &#x25BC;
				    </a>
				    <ul class = "dropdown-menu">
				    	<li ng-repeat = "action in parameter.actions" ng-class = "{disabled:action.disabled}">
				        	<a ng-click = "editSampleParamGrpsCtrl.performPAction(parameter,action)">{{action.name}}</a>
				        </li>
				    </ul>
	  			</div>
			</td>
			
				
			
			<td class = "parametertd" ng-show = "editSampleParamGrpsCtrl.editmode">
				<input 						   
					type = "text"
					ng-keyup = "editSampleParamGrpsCtrl.keyUpPG($event.keyCode)"
			    	ng-model = "editSampleParamGrpsCtrl.newParameterNameL2"> 
			</td>
		</tr>
		

	</tbody>
</table>

<button type = "button" 
		ng-click = "editSampleParamGrpsCtrl.addParameter()"
		ng-hide = "editSampleParamGrpsCtrl.editmode"
		class = "btn btn-default" 
		ng-click = "editSampleParamGrpsCtrl.addTitleParameter()" >
	<b>+</b> {{'Add Titleparameter'|translate}}
</button>






