<button type="button" 
		ng-hide="editSampleParamGrpsCtrl.editmode"
		class="btn btn-default" 
		ui-sref="adminSamples" >
	<b>&larr;</b> {{'all sampletypes'|translate}}
</button>

<h3>
	{{'Edit Sampletype'|translate}}{{editSampleType.sampleTypeID}}{{editParamType.paramTypeID}}
</h3>

<br/>
<h4>{{'General information'|translate}}</h4>
<table class="table">
<tr ng-dblclick="editSampleParamGrpsCtrl.edit('NL1')">
	<td>Name ({{editSampleParamGrpsCtrl.lang1}}):</td>
	<td>
		<span ng-hide="editSampleParamGrpsCtrl.editNL1">{{editSampleParamGrpsCtrl.NameL1}}</span>
		<input ng-show="editSampleParamGrpsCtrl.editNL1" 
			   ng-keyup="editSampleParamGrpsCtrl.keyUp($event.keyCode,'NL1')"
			   type="text"
			   ng-model="editSampleParamGrpsCtrl.newNameL1">
	</td>
</tr>
<tr ng-dblclick="editSampleParamGrpsCtrl.edit('NL2')">
	<td>Name ({{editSampleParamGrpsCtrl.lang2}}):</td>
	<td>
		<span ng-hide="editSampleParamGrpsCtrl.editNL2">{{editSampleParamGrpsCtrl.NameL2}}</span>
		<input ng-show="editSampleParamGrpsCtrl.editNL2" 
			   ng-keyup="editSampleParamGrpsCtrl.keyUp($event.keyCode,'NL2')"
			   type="text"
			   ng-model="editSampleParamGrpsCtrl.newNameL2">
	</td>
</tr>
<tr ng-dblclick="editSampleParamGrpsCtrl.edit('DL1')">
	<td>{{'Description'|translate}} ({{editSampleParamGrpsCtrl.lang1}}):</td>
	<td>
		<span ng-hide="editSampleParamGrpsCtrl.editDL1">{{editSampleParamGrpsCtrl.DescL1}}</span>
		<input ng-show="editSampleParamGrpsCtrl.editDL1" 
			   ng-keyup="editSampleParamGrpsCtrl.keyUp($event.keyCode,'DL1')"
			   type="text"
			   ng-model="editSampleParamGrpsCtrl.newDescL1">
	</td>
</tr>
<tr ng-dblclick="editSampleParamGrpsCtrl.edit('DL2')">
	<td>{{'Description'|translate}} ({{editSampleParamGrpsCtrl.lang2}}):</td>
	<td>
		<span ng-hide="editSampleParamGrpsCtrl.editDL2">{{editSampleParamGrpsCtrl.DescL2}}</span>
		<input ng-show="editSampleParamGrpsCtrl.editDL2" 
			   ng-keyup="editSampleParamGrpsCtrl.keyUp($event.keyCode,'DL2')"
			   type="text"
			   ng-model="editSampleParamGrpsCtrl.newDescL2">
	</td>
</tr>
</table>
<br/>
<h4>{{'Parametergroups'|translate}}</h4>


<table class="table">
	<thead class=parametertablehead>
		<tr>
			<td></td>
			<td class="parametertd">
	 			Name ({{editSampleParamGrpsCtrl.lang1}})
			</td>
			<td class="parametertd">
	 			Name ({{editSampleParamGrpsCtrl.lang2}})
			</td>
			<td ng-hide=editSampleParamGrpsCtrl.editmode>
				{{'action'|translate}}
			</td>
		</tr>
	</thead>
	
	
	<tbody>
		<tr ng-repeat="grp in editSampleParamGrpsCtrl.parametergrps | orderBy : 'pos'">
			<td class="parametertd">
				<button type="button" class="btn btn-default btn-xs" 
					ng-click="editSampleParamGrpsCtrl.up($index)"   ng-hide="$first || editSampleParamGrpsCtrl.editmode">&#9650;
				</button>
				<button type="button" class="btn btn-default btn-xs" 
					ng-click="editSampleParamGrpsCtrl.down($index)" ng-hide="$last  || editSampleParamGrpsCtrl.editmode" >&#9660;
				</button>
			</td> 
			<td> 
	 			{{grp.nameLang(editSampleParamGrpsCtrl.languages[0].key)}}
			</td>
			<td class="parametertd">		
	 			{{grp.nameLang(editSampleParamGrpsCtrl.languages[1].key)}}
			</td>
		
			<td class="parametertd" ng-hide=editSampleParamGrpsCtrl.editmode>			
				<div class="dropdown" dropdown on-toggle="toggled(open)">
					<a class="dropdown-toggle" dropdown-toggle>
			  			{{'action'|translate}} &#x25BC;
				    </a>
				    <ul class="dropdown-menu">
				    	<li ng-repeat="action in grp.actions" ng-class="{disabled:action.disabled}">
				        	<a ng-click="editSampleParamGrpsCtrl.performAction(grp,action)">{{action.name}}</a>
				        </li>
				    </ul>
	  			</div>
			</td>
		</tr>
		<tr ng-show="editSampleParamGrpsCtrl.editmode">
			<td></td>
			<td class="parametertd">
				<input 						   
				type="text"
			    ng-model="editSampleParamGrpsCtrl.newGrpNameL1"> 
			</td>
			<td class="parametertd">
				<input 						   
				type="text"
				ng-keyup="editSampleParamGrpsCtrl.keyUpPG($event.keyCode)"
			    ng-model="editSampleParamGrpsCtrl.newGrpNameL2"> 
			</td>
		</tr>
	</tbody>
</table>
<br />



<button type="button" 
		ng-hide="editSampleParamGrpsCtrl.editmode"
		class="btn btn-default" 
		ng-click="editSampleParamGrpsCtrl.newParameterGroup()" >
	<b>+</b> {{'Add parametergroup'|translate}}
</button>

<button type="button" 
		ng-show="editSampleParamGrpsCtrl.editmode"
		class="btn btn-default" 
		ng-click="editSampleParamGrpsCtrl.editmode=false" >
	{{'Cancel'|translate}}
</button>



<button type="button" 
		ng-show="editSampleParamGrpsCtrl.editmode"
		class="btn btn-default" 
		ng-click="editSampleParamGrpsCtrl.addParameterGroup()" >
	{{'Save Parametergroup'|translate}}
</button>






