<div class="container">
<h3> 
	{{mUserGroupChoserCtrl.getLabel()}}
</h3>

<div class="row">

<div class=col-md-6>

<!-- search field -->
<label>Name: </label>
<input type="text" 
	   ng-model="mUserGroupChoserCtrl.userinput"
	   style="width: 253px;" 
	   placeholder="{{'Enter user or group name here'|translate}}">
<br /><br />

{{'Groups'|translate}} 
<br />	
<!-- 
<select multiple="multiple"
		id="typeSelector"
		style="width: 200px;"
  		ng-model="mUserGroupChoserCtrl.selectedGroups" 
  		ng-options="group as group.name for group in mUserGroupChoserCtrl.groups"
  		size="5">
</select> -->

<!--  list of fitting groups  -->
<ul> 
 	<li ng-repeat="group in mUserGroupChoserCtrl.groups | filter:groupIsNotSelected | filter:{name:mUserGroupChoserCtrl.userinput} | orderBy: 'name'">
					<!-- show only selected user types -->
		<a ng-click=mUserGroupChoserCtrl.choseGroup(group)> 
			{{group.name}}
		</a>		
	</li>   
</ul>
<br />



{{'Users'|translate}} 


<!--  list of fitting users  -->
<ul> 
 	<li ng-repeat="user in mUserGroupChoserCtrl.users  | filter:userIsNotSelected | filter:{fullname:mUserGroupChoserCtrl.userinput} | orderBy: 'fullname'">
 	<div ng-show="mUserGroupChoserCtrl.groupSelected(user)" >
					<!-- show only selected user types -->
		<a ng-click=mUserGroupChoserCtrl.choseUser(user)> 
			{{user.fullname}}
		</a>		
	</div>					
	</li>   
</ul>

<br />
</div>
<div class=col-md-6>
	
	<span ng-show="mUserGroupChoserCtrl.chosenGroups.length>0">
		{{'chosen groups'|translate}}:
	</span>	
	<p />
	<div ng-repeat="cgroup in mUserGroupChoserCtrl.chosenGroups | orderBy: 'name'">
		<a ng-click=mUserGroupChoserCtrl.removeGroup(cgroup)>
 			{{cgroup.name}}
 		</a>
	</div>
	<br />
	<span ng-show="mUserGroupChoserCtrl.chosenUsers.length>0">
		{{'chosen users'|translate}}:
	</span>	
	<p />
	<div ng-repeat="cuser in mUserGroupChoserCtrl.chosenUsers | orderBy: 'fullname'">
		<a ng-click=mUserGroupChoserCtrl.removeUser(cuser)>
 			{{cuser.fullname}}
 		</a>
	</div>
	<br />
</div>
</div>
<button ng-click="mUserGroupChoserCtrl.cancel()" 
		class="btn btn-default">
	{{'Cancel'|translate}}
</button>&nbsp;
<button 
	ng-hide="mUserGroupChoserCtrl.immediate" 
	ng-click="mUserGroupChoserCtrl.grantRights()" 
	class="btn btn-primary">
	{{mUserGroupChoserCtrl.getButtonLabel()}}
</button>



<br /><br />

</div>