<button type="button" 
		class="btn btn-default" 
		ui-sref="recipes({ type : 'sample', id : sRecipeCtrl.id })" >
	<b>&larr;</b> {{'Recipes'|translate}}
</button>

<h3>{{'Recipe'|translate}}: {{sRecipeCtrl.recipe.namef()}}</h3>
<br/>
<h4>{{'General information'|translate}}</h4>

<table class="table">

<tr ng-dblclick="sRecipeCtrl.edit('NL1')">
	<td>Name ({{sRecipeCtrl.lang1}}):</td>
	<td>
		<span ng-hide = "sRecipeCtrl.editFieldNL1">{{sRecipeCtrl.nameL1}}</span>
		<input ng-show = "sRecipeCtrl.editFieldNL1" 
			   ng-keyup = "sRecipeCtrl.keyUpN($event.keyCode,sRecipeCtrl.newNameL1,sRecipeCtrl.lang1key)"
			   ng-blur = "sRecipeCtrl.editNL1 = false"
			   type = "text"
			   ng-model = "sRecipeCtrl.newNameL1">
	</td>
</tr>
<tr ng-dblclick="sRecipeCtrl.edit('NL2')">
	<td>Name ({{sRecipeCtrl.lang2}}):</td>
	<td>
		<span ng-hide = "sRecipeCtrl.editFieldNL2">{{sRecipeCtrl.nameL2}}</span>
		<input ng-show = "sRecipeCtrl.editFieldNL2" 
			   ng-keyup = "sRecipeCtrl.keyUpN($event.keyCode,sRecipeCtrl.newNameL2,sRecipeCtrl.lang2key)"
			   ng-blur = "sRecipeCtrl.editNL2=false"		
			   type = "text"
			   ng-model = "sRecipeCtrl.newNameL2">
	</td>
</tr>
</table>
<br/>
<br/>

<h4>{{'Parameters'|translate}}</h4>
<paramgrps 
	parametergrps = "sRecipeCtrl.parametergroups" 
	editable = "sRecipeCtrl.recipe.editable"
	pupdate = "sRecipeCtrl.saveParameter(parameter)">
</paramgrps>

<br/>

<!-- 
<h4> {{'Access'|translate}}</h4>
{{'Can be used by users'|translate}}:
<span ng-repeat="user in sRecipeCtrl.search.rights.users">
	{{user.name}}{{$last?"":","}}
</span>
<br/>
{{'and'|translate}} {{'groups'|translate}}: 
<span ng-repeat="group in sRecipeCtrl.search.rights.groups">
	{{group.name}}{{$last?"":","}}
</span>

<br/>
<button ng-click="sRecipeCtrl.openDialog()" class="btn btn-default">+/- {{'Edit allowed users'|translate}}</button>
<br/>
<br/>
{{'owner'|translate}}:
<span ng-dblclick = "sRecipeCtrl.edit('owner')">
	<span ng-hide=sRecipeCtrl.editOwner> {{sRecipeCtrl.owner.fullname}} </span>
	<select class = "form-control" 
		style = "width:300px;"
		ng-show = "sRecipeCtrl.editOwner"
		ng-model = "sRecipeCtrl.owner"
		ng-change = "sRecipeCtrl.changeOwner()"
		ng-options = "user as user.fullname for user in sRecipeCtrl.users">
	</select>
</span>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
 -->