
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle"
			ng-click="menuCtrl.navCollapsed = !menuCtrl.navCollapsed">
			<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
			<span class="icon-bar"></span> <span class="icon-bar"></span>
		</button>
		<a ng-show ="$root.userid" ui-sref="openExperiment"><img src="logo.png" width="162px"></a>
		<a ng-hide ="$root.userid" ui-sref="login"> <img src="logo.png" width="125px"></a>
	</div>
	<div class="collapse navbar-collapse" uib-collapse="menuCtrl.navCollapsed">
		<ul class="nav navbar-nav">
			
			<li class="dropdown" uib-dropdown="" ng-show="$root.userid">
				<a href="#" class="dropdown-toggle" uib-dropdown-toggle="">
					{{'Samples'|translate}} 
				</a>
				<ul class="dropdown-menu" role="menu">
					<li class="dropdown-submenu"><a ui-sref="newSample">
							{{'New Sample'|translate}} </a></li>
					<li><a ui-sref="sampleChoser"> {{'Show Samples'|translate}} </a></li>
					<li><a ui-sref="recentSamples"> {{'Recent Samples'|translate}} </a></li>
				</ul>
			</li>

			<li class="dropdown" uib-dropdown="" ng-show="$root.userid">
				<a href="#" class="dropdown-toggle" uib-dropdown-toggle="">
					{{'Processes'|translate}}
				</a>
				<ul class="dropdown-menu" role="menu">
					<li class="dropdown-submenu"><a ui-sref="newProcess">
						{{'New Process'|translate}} </a></li>
					<li><a ui-sref="choseProcess"> 
						{{'Show Process'|translate}} </a></li>
					<li><a ui-sref="processRecipes">
						{{'Recipes'|translate}} </a></li>
					<li><a ui-sref="recentProcesses">
						{{'Recent Processes'|translate}} </a></li>
				</ul>
			</li>

			<li class="dropdown" uib-dropdown="" ng-show="$root.userid">
				<a href="#" class="dropdown-toggle" uib-dropdown-toggle="">
					{{'Experiment'|translate}}
				</a>
				<ul class="dropdown-menu" role="menu">
					<li><a ui-sref="error">{{'New Experiment'|translate}} </a></li>
					<li><a ui-sref="openExperiment"> {{'Open Experiments'|translate}} </a></li>
					<li><a ui-sref="recentExperiments"> {{'Recent Experiments'|translate}} </a></li>
				</ul>
			</li>
			<li class="dropdown" uib-dropdown="" ng-show="$root.userid">
				<a href="#" class="dropdown-toggle" uib-dropdown-toggle="">
					{{'Search'|translate}} 
				</a>
				<ul class="dropdown-menu" role="menu">
					<li ng-show="$root.admin"><a ng-click="menuCtrl.addSearch()"> {{'New Search'|translate}} </a></li>
					<li><a ui-sref="openSearch"> {{'Show Searches'|translate}} </a></li>
				</ul>
			</li>
			<li class="dropdown" uib-dropdown="" ng-show="$root.admin==true">
				<a class="dropdown-toggle" uib-dropdown-toggle="">
					{{'Admin.'|translate}} 
				</a>
				<ul class="dropdown-menu" role="menu">
					<li><a ui-sref="users"> {{'Users'|translate}} </a></li>
					<li><a ui-sref="groups"> {{'Groups'|translate}} </a></li>
					<li><a ui-sref="adminSamples"> {{'Sampletypes'|translate}} </a></li>
					<li><a ui-sref="adminProcesses"> {{'Processtypes'|translate}} </a></li>
					<li><a ui-sref="parameter"> {{'Parameters'|translate}} </a></li>
					<li><a ui-sref="import"> {{'Import'|translate}} </a></li>
				</ul>
			</li>
			<li class="dropdown" uib-dropdown="" ng-show="$root.userid">
				<a href="#" class="dropdown-toggle menuusername" uib-dropdown-toggle="">
					<span ng-hide="$root.username">
					{{'User'|translate}}
					</span>
					<span>
					{{$root.username}} 
					</span>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li><a ng-click="menuCtrl.setLanguage('en')">EN</a></li>
					<li><a ng-click="menuCtrl.setLanguage('de')">DE</a></li>
					<li><a ng-click="menuCtrl.logout()"> {{'Logout'|translate}} </a></li>
				</ul>
			</li>

		</ul>
 		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown" uib-dropdown="">
				<a href="#" class="dropdown-toggle" uib-dropdown-toggle="" ng-disabled="disabled">
					{{'Help'|translate}} &nbsp;  &nbsp;
				</a>
				<ul class="dropdown-menu" role="menu">
					<li><a ui-sref="about"> {{'About Unidaplan'|translate}} </a></li>
					<li><a ui-sref="help"> {{'Help page'|translate}} </a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!--/.nav-collapse -->
</nav>
