		<h3 >
			{{'Users'|translate }}
		</h3>
		<form name="addUserForm" ng-submit="addUserForm.$valid && userCtrl.submitUser()" novalidate>
		<table class="table">
			<thead class=parametertablehead>
			<tr>				
				<td><b>Name</b>
				</td>
				<td><b>{{'Username'|translate}}</b>
				</td>
				<td><b>{{'E-mail'|translate}}</b>
				</td>
				<td>
				</td>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="user in userCtrl.users | orderBy: 'fullname'">				
				<td>
					{{user.fullname}} <span ng-show=user.blocked>(blocked)</span>
				</td>
				<td>
					{{user.username}}
				</td>
				<td>
				    {{user.email}}
				</td>
				<td>
					<div class="dropdown" uib-dropdown on-toggle="toggled(open)">
					      <a class="dropdown-toggle" uib-dropdown-toggle>
				  			{{'action'|translate}} &#x25BC;
					      </a>
					      <ul class="dropdown-menu">
					        <li ng-repeat="action in user.actions">
					          <a ng-click="userCtrl.performAction(action,user)">{{action.name}}</a>
					        </li>
					      </ul>
	  				 </div>
				</td>
			</tr>  <!-- ends ng-repeat -->
			<tr  ng-show=userCtrl.edit>
				<td><input type="text" ng-model="userCtrl.fullname" 
				   placeholder="{{'Enter full name here'|translate}}"
				   style="width:240px;"
				   required >				   
				</td>
				<td><input type="text" ng-model="userCtrl.username" username
				    placeholder="{{'Enter your username here'|translate}}"
				    required>
				</td>
				<td><input type="email" ng-model="userCtrl.email" 
				    placeholder="{{'Enter your e-mail here'|translate}}"
				    required>
				</td>
				<td>
					<input type="submit" 
						   class="btn btn-default"
						   ng-class="{'disabled':!addUserForm.$valid}"
						   value="{{'Add User'|translate}}">
						   
					<a 	ng-click="userCtrl.cancel()"
						class="btn btn-default">
						{{'cancel'|translate}}
					</a>
				</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			</tbody>
		</table>
		</form>
			<button type="button"
					class="btn btn-default"
					ng-hide="userCtrl.edit"
					ng-click="userCtrl.addUser()" >
					+  {{'Add User'|translate}}
			</button>
			
