<h3> 
	{{ 'Search for Sample' | translate }} 
</h3>
  
  
<!-- type choser -->  
{{'Available sample types'|translate}} 
<br />	
<select multiple="true"
		id="typeSelector"
		style="width: 300px;"
  		ng-model="sampleChoserCtrl.selectedtypes" 
  		ng-options="type.trname for type in sampleChoserCtrl.selectortypes"
  		size="10">
</select>
<br /><br />


<!-- search field -->
<label>Name: </label>
<input type="text" 
	   ng-model="sampleChoserCtrl.userinput"
	   style="width: 253px;" 
	   placeholder="{{'Enter samplename here'|translate}}">
<br />
<br />
<br />


<!--  list of fitting samples  -->
<ul> 
 	<li ng-repeat="sample in sampleChoserCtrl.samples | filter:sampleChoserCtrl.userinput" 
 		ng-show="sampleChoserCtrl.typeSelected(sample)">
					<!-- show only selected sample types -->
		<a ui-sref="sample({sampleID:sample.id})">
			{{sampleChoserCtrl.getType(sample)}} {{sample.name}}
		</a>							
	</li>   
</ul>

Selected Types: {{sampleChoserCtrl.getSelectedSampleTypeIDs()}}<br />
