<div ng-controller="samplecontroller as ssc" class="container"
	ng-show="menuCtrl.currentPage =='sample'">
	<p ng-init="ssc.loadData(1)"></p>
	<div ng-hide="sample.error">
	
	
		<h3>{{ssc.sample.trtype}} 
			<span ng-repeat="tparameter in ssc.sample.titleparameters"
				  ng-dblclick="tparameter.editing=true; newValue=tparameter.value">
				<span ng-hide="tparameter.editing">{{tparameter.value|trailingzeros:tparameter.maxdigits}}
				</span>
				<input 						   
					ng-keyup="ssc.keyUp($event.keyCode,newValue,tparameter)"
					ng-show="tparameter.editing" type="text"
				    ng-model="newValue" 
				    ng-blur="tparameter.editing=false">
				</input>
				{{$last?'':'-'}}
			</span>
		</h3>
		
		
		
		
		<h4>Basisparameter</h4>
		<table class="table">
			<tr ng-repeat="parameter in ssc.sample.parameters| orderBy : ssc.sample.parameters.pos" 
			ng-dblclick="parameter.editing=true; newValue=parameter.value">
				<td>
				    {{parameter.trname}} :
				</td>
				<td >
					<span ng-hide="parameter.editing">{{parameter.value}}
					</span>
					<input 						   
						ng-keyup="ssc.keyUp($event.keyCode,newValue,parameter)"
						ng-show="parameter.editing" type="text"
					    ng-model="newValue" 
					    ng-blur="parameter.editing=false">
					</input>
					{{parameter.unit.length>0?parameter.unit:''}}
				</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			<!-- um letzten Strich in Tabelle zu erzeugen -->
		</table>
		<h4>Files</h4>
		<button type="button" class="btn btn-default " ng-click="addFile()">Datei
			hinzufügen</button>
		<br /> <br />



		<h4>Objektbaum</h4>
		<table>
			<tr>
				<td>
					<div ng-show="ssc.sample.ancestors.length>0">Originates from:</div> 
						<span ng-repeat="bsample in ssc.sample.ancestors"> 
							<samplebutton buttonsample="bsample"  
										  action="ssc.loadData(bsample.id)">
							</samplebutton>
						</span> 
				</td>
				<td width=20mm></td>
				<td>
					<div ng-show="ssc.sample.children.length>0">Is ancestor of:</div> 
						<span ng-repeat="bsample in ssc.sample.children">
							 <samplebutton buttonsample="bsample" 
							 			   action="ssc.loadData(bsample.id)">
							 </samplebutton>
						</span>
				</td>
			</tr>
		</table>
		<br />



		<h4>Planung</h4>
		<table>
			<tr ng-repeat="plan in ssc.sample.plans">
				<td>Experiment no. {{plan.exp_id}}, "{{plan.trname}}"</td>
			</tr>
		</table>
		<br />



		<table> <!-- Buttonbar: previous/delete/next -->
			<tr>
				<td align="center">
					<span ng-show="ssc.sample.previous">&#x25c0; previous <br /> 
						<samplebutton buttonsample="ssc.sample.previous" 
									  action="ssc.loadData(ssc.sample.previous.id)">
						</samplebutton>
					</span>
				</td>
				<td align="center">&nbsp;<br /> &nbsp;
					<button type="button" class="btn btn-danger"
							ng-click="ssc.deleteSample()">Objekt
						löschen</button>
				</td>
				<td align="center">	
					<span ng-show="ssc.sample.next"> &nbsp; next &nbsp; &#9654;<br />
						&nbsp;
						<samplebutton buttonsample="ssc.sample.next" 
									  action="ssc.loadData(ssc.sample.next.id)">
						</samplebutton>
					</span>
				</td>
			</tr>
		</table>
	</div>
	
	<div ng-show=sample.error>
		<!-- Fehler beim Holen des Samples aufgetreten -->
		{{ssc.sample.error}}
	</div>
	
	<br />
	<br />
	<br />
	<br />
</div>