<h3>
	{{'Edit Processtype'|translate}}{{editProcessType.processTypeID}}{{editParamType.paramTypeID}}
</h3>

<br/>
<h4>{{'General information'|translate}}</h4>
<table class="table">
<tr>
	<td>Name ({{editPtParamGrpsCtrl.lang1}}):</td>
	<td><input type="text"
			   ng-model="editPtParamGrpsCtrl.newNameL1">
	</td>
</tr>
<tr>
	<td>Name ({{editPtParamGrpsCtrl.lang2}}):</td>
	<td><input type="text"
			   ng-model="editPtParamGrpsCtrl.newNameL2">
	</td>
</tr>
<tr>
	<td>{{'Description'|translate}} ({{editPtParamGrpsCtrl.lang1}}):</td>
	<td><input type="text"
			   ng-model="editPtParamGrpsCtrl.newDescL1">
	</td>
</tr>
<tr>
	<td>{{'Description'|translate}} ({{editPtParamGrpsCtrl.lang2}}):</td>
	<td><input type="text"
			   ng-model="editPtParamGrpsCtrl.newDescL2">
	</td>
</tr>
</table>
<h4>{{'Parametergroups'|translate}}</h4>


<table class="table">
	<thead class=parametertablehead>
		<tr>
			<td class="parametertd">
	 			Name ({{editPtParamGrpsCtrl.lang1}})
			</td>
			<td class="parametertd">
	 			Name ({{editPtParamGrpsCtrl.lang2}})
			</td>
			<td>
				{{'action'|translate}}
			</td>
		</tr>
	</thead>
	
	
	<tbody>
		<tr ng-repeat="grp in editPtParamGrpsCtrl.parametergrps | orderBy : 'pos'">
			<td class="parametertd">
	 			{{grp.nameLang(editPtParamGrpsCtrl.languages[0].key)}}
			</td>
			<td class="parametertd">		
	 			{{grp.nameLang(editPtParamGrpsCtrl.languages[1].key)}}
			</td>
		
			<td class="parametertd">			
				<div class="dropdown" dropdown on-toggle="toggled(open)">
					<a class="dropdown-toggle" dropdown-toggle>
			  			{{'action'|translate}} &#x25BC;
				    </a>
				    <ul class="dropdown-menu">
				    	<li ng-repeat="action in editPtParamGrpsCtrl.getActions(process)">
				        	<a ng-click="aProcessesCtrl.performAction($index,process)">{{action}}</a>
				        </li>
				    </ul>
	  			</div>
			</td>
		</tr>
		<tr ng-show="aProcessesCtrl.editmode">
			<td class="parametertd">
				<input 						   
				type="text"
			    ng-model="aProcessesCtrl.newNameL1"> 
			</td>
			<td class="parametertd">
				<input 						   
				type="text"
			    ng-model="aProcessesCtrl.newNameL2"> 
			</td>
			<td class="parametertd">
				<input 						   
				type="text"
			    ng-model="aProcessesCtrl.newDescL1"> 
			</td>
			<td class="parametertd">
				<input 						   
				type="text"
			    ng-model="aProcessesCtrl.newDescL2"> 
			</td>
		</tr>
	</tbody>
</table>
<br />
<button type="button" 
		ng-hide="aProcessesCtrl.editmode"
		class="btn btn-default" 
		ng-click="aProcessesCtrl.newProcessType()" >
	<b>+</b> {{'Save Changes'|translate}}
</button>

<button type="button" 
		ng-show="aProcessesCtrl.editmode"
		class="btn btn-default" 
		ng-click="aProcessesCtrl.editmode=false" >
	{{'Cancel'|translate}}
</button>

<button type="button" 
		ng-show="aProcessesCtrl.editmode"
		class="btn btn-default" 
		ng-click="aProcessesCtrl.addProcessType()" >
	{{'Add Parameter'|translate}}
</button>






