<div class="container">
<h3> 
	{{ 'Search for User' | translate }} 
</h3>

<div class="row">
<!-- type choser -->  
<div class=col-md-6>
	{{'Groups'|translate}} 
	<br />	
	<select multiple="multiple"
			id="typeSelector"
			style="width: 200px;"
	  		ng-model="mUserChoserCtrl.selectedGroups" 
	  		ng-options="group as group.name for group in mUserChoserCtrl.groups"
	  		size="5">
	</select>
	<br /><br />
	


<!-- search field -->
<label>Name: </label>
<input type="text" 
	   ng-model="mUserChoserCtrl.userinput"
	   style="width: 253px;" 
	   placeholder="{{'Enter username here'|translate}}">
<br /><br />

<!--  list of fitting users  -->
<ul> 
 	<li ng-repeat="user in mUserChoserCtrl.users  | filter:isNotSelected | filter:{fullname:mUserChoserCtrl.userinput} | orderBy: 'fullname'" -->
 	<!-- 	ng-show="mUserChoserCtrl.groupSelected(user)" -->
					<!-- show only selected user types -->
		<a ng-click=mUserChoserCtrl.choseUser(user)> 
			{{user.fullname}}
		</a>							
	</li>   
</ul>
<br />
</div>
<div class=col-md-6>
	<span ng-show="mUserChoserCtrl.chosenUsers.length>0">
		{{'chosen users'|translate}}:
	</span>	
	<p />
	<div ng-repeat="cuser in mUserChoserCtrl.chosenUsers | orderBy: 'fullname'">
		<a ng-click=mUserChoserCtrl.removeUser(cuser)>
 			{{cuser.fullname}}
 		</a>
	</div>
	<br />
</div>
</div>
<button ng-click="mUserChoserCtrl.cancel()" 
		class="btn btn-default">
	{{'Cancel'|translate}}
</button>&nbsp;
<button 
	ng-hide="mUserChoserCtrl.immediate" 
	ng-click="mUserChoserCtrl.assignUsers()" 
	class="btn btn-primary">
	{{mUserChoserCtrl.getButtonLabel()}}
</button>

<br /><br />

</div>