<p />
<p />


<button class="btn btn-default"
		ui-sref="openSearch">
		&#x25c0;	{{'Back to searches'|translate}}
</button>
<br/>
<h3>{{'Edit Search'|translate}}</h3>
<p />
<br/>
<h4>{{'General information'|translate}}</h4>

<table class="table">
<tr ng-dblclick="editSearchCtrl.edit('NL1')">
	<td>Name ({{editSearchCtrl.lang1}}):</td>
	<td>
		<span ng-hide="editSearchCtrl.editFieldNL1">{{editSearchCtrl.nameL1}}</span>
		<input ng-show="editSearchCtrl.editFieldNL1" 
			   ng-keyup="editSearchCtrl.keyUp($event.keyCode,editSearchCtrl.newNameL1,editSearchCtrl.lang1key)"
			   ng-blur="editSearchCtrl.editNL1=false"
			   type="text"
			   ng-model="editSearchCtrl.newNameL1"
			   autofocus>
	</td>
</tr>
<tr ng-dblclick="editSearchCtrl.edit('NL2')">
	<td>Name ({{editSearchCtrl.lang2}}):</td>
	<td>
		<span ng-hide="editSearchCtrl.editFieldNL2">{{editSearchCtrl.nameL2}}</span>
		<input ng-show="editSearchCtrl.editFieldNL2" 
			   ng-keyup="editSearchCtrl.keyUp($event.keyCode,editSearchCtrl.newNameL2,editSearchCtrl.lang2key)"
			   ng-blur="editSearchCtrl.editNL2=false"		
			   type="text"
			   ng-model="editSearchCtrl.newNameL2">
	</td>
</tr>
</table>
<br/>


<h4> {{'Access'|translate}}</h4>
{{'Can be used by users'|translate}}:
<span ng-repeat="user in editSearchCtrl.search.rights.users">
	{{user.name}}{{$last?"":","}}
</span>
<br/>
{{'and'|translate}} {{'groups'|translate}}: 
<span ng-repeat="group in editSearchCtrl.search.rights.groups">
	{{group.name}}{{$last?"":","}}
</span>

<br/>
<button ng-click="editSearchCtrl.openDialog()" class="btn btn-default">+/- {{'Edit allowed users'|translate}}</button>
<br/>
<br/>
{{'owner'|translate}}:
<span ng-dblclick="editSearchCtrl.edit('owner')"><span ng-hide=editSearchCtrl.editOwner>
 {{editSearchCtrl.getOwner()}} </span>
	<select class="form-control" 
		style="width:300px;"
		ng-show="editSearchCtrl.editOwner"
		ng-model="editSearchCtrl.newOwner"
		ng-change="editSearchCtrl.changeOwner()"
		ng-options="user.id as user.fullname for user in editSearchCtrl.users">
	</select>
 </span>
<br/>
<br/>

<br/>
<h4>{{'Search Criteria'|translate}}</h4>
<div class="col-xs-6" ng-hide="editSearchCtrl.type==4">
{{'mode'|translate}}:
	<select
	    class="form-control" 
		style="width:300px;"
		ng-model="editSearchCtrl.mode"
		ng-change="editSearchCtrl.changeMode()"
		ng-options="mode.mode as mode.name for mode in editSearchCtrl.modes">
	</select>
</div>
<br/><br/><br/><br/>
<div class="col-xs-6">
{{'Suchtyp'|translate}}:<br/>
	<select 
		class="form-control" 
		style="width:300px;"
		ng-model="editSearchCtrl.searchType"
		ng-change="editSearchCtrl.changeType()"
		ng-options="type.id as type.name for type in editSearchCtrl.searchTypes" >
	</select>
</div>

<div class="col-xs-6">
<br/>
	<select
	    class="form-control" 
		style="width:300px;"
		ng-disabled="editSearchCtrl.search.sparameter.length>0"
		ng-show="editSearchCtrl.searchType==1"
		ng-model="editSearchCtrl.sampleType"
		ng-change="editSearchCtrl.changeSampleType()"
		ng-options="stype as stype.namef() for stype in editSearchCtrl.sampleTypes">
	</select>
	
	<select
    class="form-control" 
	style="width:300px;"
	ng-disabled="editSearchCtrl.search.pparameter.length>0"
	ng-show="editSearchCtrl.searchType>1"
	ng-model="editSearchCtrl.processType"
	ng-change="editSearchCtrl.changeProcessType()"
	ng-selected="$first">
		<option ng-repeat="type in editSearchCtrl.processTypes" value="{{$index+1}}" ng-selected="$index==0">
			{{type.namef()}}			
		</option>
	</select>
	
</div>
<br/><br/><br/><br/>

	
<table class="table" ng-show="editSearchCtrl.search.type==1" >
	<thead class=parametertablehead>
	<tr>
		<td>
			{{'delete'|translate}}
		</td>
		<td>
			{{'Parameter'|translate}}
		</td>
		<td>
			{{'Comparison operation'|translate}}
		</td>
		<td>
			{{'Default Values'|translate}}
		</td>
	</tr>
	
	</thead>
	<tr ng-repeat="parameter in editSearchCtrl.search.sparameter | orderBy:'namef()'"
		ng-dblclick="parameter.editing=true">
		<td>
			<button 
				type="button" 
				class="btn btn-default btn-xs" 
				ng-click="editSearchCtrl.deleteParameter(parameter)" >
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</td>
		<td>
			<div>{{parameter.namef()}}</div>
		</td>
		<td>
			<select class="form-control input-sm" 
				style="width:68px;"	
				ng-model="parameter.comparison"
				ng-change="editSearchCtrl.changeComparison(parameter)"
				ng-options="comparator.index as comparator.label for comparator in editSearchCtrl.comparators[parameter.datatype]"> 
			</select>
		</td>
		<td>
			<span ng-hide="parameter.editing">{{parameter.value}}
			</span>
				<input 						   
						ng-keyup="editSearchCtrl.valueKeyUp($event.keyCode,newValue,parameter)"
						ng-show="parameter.editing" type="text"
					    ng-model="newValue" 
					    ng-blur="parameter.editing=false">
				<span ng-show="parameter.unit">
					{{parameter.unitf()}}
				</span>
		</td>
	</tr>
</table>

<button class="btn btn-default"
		ng-click="editSearchCtrl.addSampleParameter()"
		ng-show="editSearchCtrl.searchType==1 || editSearchCtrl.searchType==4"
		>
	+ {{'Add Parameter'|translate}}
</button>





<table class="table" ng-show="editSearchCtrl.search.type==2">

	<thead class=parametertablehead>
		<tr>
			<td>
				{{'delete'|translate}}
			</td>
			<td>
				{{'Parameter'|translate}}
			</td>
			<td>
				{{'Comparison operation'|translate}}
			</td>
			<td>
				{{'Default Values'|translate}}
			</td>
		</tr>
	</thead>
	
	<tr ng-repeat="parameter in editSearchCtrl.search.pparameter | orderBy:'namef()'"
		ng-dblclick="parameter.editing=true">
		<td>
			<button 
				type="button" 
				class="btn btn-default btn-xs" 
				ng-click="editSearchCtrl.deleteParameter(parameter)" >
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</td>
		<td>
			<div>{{parameter.namef()}}</div>
		</td>
		<td>
			<select class="form-control input-sm" 
				style="width:68px;"	
				ng-model="parameter.comparison"
				ng-change="editSearchCtrl.changeComparison(parameter)"
				ng-options="comparator.index as comparator.label for comparator in editSearchCtrl.comparators[parameter.datatype]"> 
			</select>
		</td>
		<td>
			<span ng-hide="parameter.editing">{{parameter.value}}
			</span>
				<input 						   
						ng-keyup="editSearchCtrl.valueKeyUp($event.keyCode,newValue,parameter)"
						ng-show="parameter.editing" type="text"
					    ng-model="newValue" 
					    ng-blur="parameter.editing=false">
				<span ng-show="parameter.unit">
					{{parameter.unitf()}}
				</span>
		</td>
	</tr>
</table>



<button class="btn btn-default"
		ng-click="editSearchCtrl.addProcessParameter()"
		ng-show="editSearchCtrl.searchType==2 || editSearchCtrl.searchType==4">
	+ {{'Add Parameter'|translate}}
</button>


<br/>
<br/>
<br/>
<br/>
<br/>
	
<h4>{{'Output'|translate}}</h4>

<table class="table">
	<thead class=parametertablehead>
	<tr>		
		<td>
		</td>
		<td>
			Parameter
		</td>
		<td>
			{{'delete'|translate}}
		</td>
	</tr>
	
	</thead>
	<tr  ng-repeat="parameter in editSearchCtrl.output">
		<td class="parametertd">
			<button type="button" class="btn btn-default btn-xs" 
				ng-click="editSearchCtrl.up($index)"   ng-hide="$first">&#9650;
			</button>
			<button type="button" class="btn btn-default btn-xs" 
				ng-click="editSearchCtrl.down($index)" ng-hide="$last" >&#9660;
			</button>
		</td> 
		
		<td>
			<div>{{parameter.namef()}}</div>
		</td>
		<td>
			<button 
				type="button" 
				class="btn btn-default btn-xs" 
				ng-click="editSearchCtrl.deleteOutParameter(parameter)" >
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</td>
	</tr>
</table>

<button class="btn btn-default"
		ng-click="editSearchCtrl.addOutputParameter()">
	+ {{'Add Parameter'|translate}}
</button>
<p/>
<br/>

<button class="btn btn-default"
		ui-sref="openSearch">
		&#x25c0;	{{'Back to searches'|translate}}
</button>
&nbsp;
<button class="btn btn-default"
		ui-sref="search({id:editSearchCtrl.search.id})">
		{{'Show this search'|translate}}
</button>

<br/>
<br/>
<br/>
<br/>

