<div>
<span ng-hide="parameter.editing">{{parameter.value}}
	<span ng-if="parameter.unit && parameter.value && parameter.value!=''">
		{{parameter.unitf()}}
	</span>
</span>
<input 						   
	ng-keyup="measurementParamCtrl.keyUp($event.keyCode)"
	ng-show="parameter.editing" 
	type="number"
    ng-model="measurementParamCtrl.newValue"
    ng-keyup="measurementParamCtrl.keyUp($event.keyCode)">
 
<span ng-show="parameter.editing">±</span>
<input 						   
	ng-keyup="measurementParamCtrl.keyUp($event.keyCode)"
	ng-show="parameter.editing" 
	type="number"
    ng-model="measurementParamCtrl.newError"
    ng-keyup="measurementParamCtrl.keyUp($event.keyCode)">
    
<span ng-show="parameter.editing">
	{{parameter.unitf()}}
</span>

</div>