<table class="table" style="width:auto">
	<tr ng-repeat="parameter in parameters | orderBy : parameters.pos" 
	ng-dblclick="parameter.editing=true; newValue=parameter.value">
		<td>
		    {{parameter.namef()}} :
		</td>
		<td >
			<div ng-if="parameter.datatype=='string'">
				<string-parameter  parameter=parameter pupdate="pupdate({parameter:parameter})">
				</string-parameter>
			</div>
			<div ng-if="parameter.datatype=='integer'">
				<integer-parameter parameter=parameter pupdate="pupdate({parameter:parameter})">
				</integer-parameter>
			</div>
			<div ng-if="parameter.datatype=='URL'">
				<url-parameter parameter=parameter pupdate="pupdate({parameter:parameter})">
				</url-parameter>
			</div>
			<div ng-if="parameter.datatype=='float'">
				<float-parameter parameter=parameter pupdate="pupdate({parameter:parameter})">
				</float-parameter>
			</div>
			<div ng-if="parameter.datatype=='measurement'">
				<measurement-parameter parameter=parameter pupdate="pupdate({parameter:parameter})">
				</measurement-parameter>
			</div>
			<div ng-if="parameter.datatype=='timestamp'">
				<timestamp-parameter parameter=parameter pupdate="pupdate({parameter:parameter})">
				</timestamp-parameter>
			</div>
			<div ng-if="parameter.datatype=='date'">
				<date-parameter parameter=parameter pupdate="pupdate({parameter:parameter})">
				</date-parameter>
			</div>
			
		</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<!-- um letzten Strich in Tabelle zu erzeugen -->
</table>