<table class="table" style="width:auto">
	<tr ng-repeat="parameter in parameters | orderBy : parameters.pos" 
	ng-dblclick="parameter.editing=true; newValue=parameter.value">
		<td>
		    {{parameter.namef()}} :
		</td>
		<td >
			<span ng-hide="parameter.editing">{{parameter.value}}
			</span>
			<input 						   
				ng-keyup="paramFieldCtrl.keyUp($event.keyCode,newValue,parameter)"
				ng-show="parameter.editing" type="text"
			    ng-model="newValue" 
			    ng-blur="parameter.editing=false">
			<span ng-show="parameter.unit">
				{{parameter.unitf()}}
			</span>
		</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<!-- um letzten Strich in Tabelle zu erzeugen -->
</table>