<div>
	<span ng-hide="parameter.editing">{{timestampParamCtrl.newValue}}
	</span>    
	<input 
		ng-show="parameter.editing"
		type="date" 
		uib-datepicker-popup 
		ng-model="parameter.newDate"
		is-open="status.opened"
	 	datepicker-options="dateOptions"
	 	ng-keyup="timestampParamCtrl.keyUp($event.keyCode)"
	 	close-text="Close">
	
	<input ng-show="parameter.editing"
			type="time"
			ng-model="parameter.newDate"
			ng-keyup="timestampParamCtrl.keyUp($event.keyCode)">
	 
	<button ng-show="parameter.editing"
		class="btn btn-default"
		ng-click="timestampParamCtrl.update()">
		ok
	</button>
</div>