<!--  {{parameter.value}}  -->
<div ng-if="parameter.datatype=='integer'">
				<integer-parameter parameter=parameter pupdate="pupdate({parameter:parameter})">
				</integer-parameter>
</div>
<div ng-if="parameter.datatype=='float'">
	<float-parameter parameter=parameter pupdate="pupdate({parameter:parameter})">
	</float-parameter>
</div>
<div ng-if="parameter.datatype=='measurement'">
	<measurement-parameter parameter=parameter pupdate="pupdate({parameter:parameter})">
	</measurement-parameter>
</div>
<div ng-if="parameter.datatype=='string'">
	<string-parameter  parameter=parameter pupdate="pupdate({parameter:parameter})">
	</string-parameter>
</div>
<div ng-if="parameter.datatype=='chooser'">
	<chooser-parameter  parameter=parameter pupdate="pupdate({parameter:parameter})">
	</chooser-parameter>
</div>	
<div ng-if="parameter.datatype=='date'">
	<date-parameter parameter=parameter pupdate="pupdate({parameter:parameter})">
	</date-parameter>
</div>
<div ng-if="parameter.datatype=='checkbox'">
	<checkbox-parameter parameter=parameter pupdate="pupdate({parameter:parameter})">
	</checkbox-parameter>
</div>
<div ng-if="parameter.datatype=='timestamp'">
	<timestamp-parameter parameter=parameter pupdate="pupdate({parameter:parameter})">
	</timestamp-parameter>
</div>
<div ng-if="parameter.datatype=='url'">
	<url-parameter parameter=parameter pupdate="pupdate({parameter:parameter})">
	</url-parameter>
</div>
<div ng-if="parameter.datatype=='email'">
	<email-parameter parameter=parameter pupdate="pupdate({parameter:parameter})">
	</email-parameter>
</div>