<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
  <servlet>
    <description>shows data for a sample</description>
    <display-name>Showsample</display-name>
    <servlet-name>Showsample</servlet-name>
    <servlet-class>unidaplan.Showsample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showsample</servlet-name>
    <url-pattern>/showsample.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>shows samples with a name close to parameter name</description>
    <display-name>SamplesByName</display-name>
    <servlet-name>SamplesByName</servlet-name>
    <servlet-class>unidaplan.SamplesByName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SamplesByName</servlet-name>
    <url-pattern>/samples_by_name.json</url-pattern>
  </servlet-mapping>
   <servlet>
    <description>shows available sample types</description>
    <display-name>Available sampletypes</display-name>
    <servlet-name>AvailableSampletypes</servlet-name>
    <servlet-class>unidaplan.AvailableSampletypes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailableSampletypes</servlet-name>
    <url-pattern>/sampletypes.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>shows available Experiments</description>
    <display-name>Experiments</display-name>
    <servlet-name>Experiments</servlet-name>
    <servlet-class>unidaplan.Experiments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Experiments</servlet-name>
    <url-pattern>/experiments.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>show a process</description>
    <display-name>Process</display-name>
    <servlet-name>Process</servlet-name>
    <servlet-class>unidaplan.Process</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Process</servlet-name>
    <url-pattern>/process.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Update sample parameter</description>
    <display-name>UpdateSampleParameter</display-name>
    <servlet-name>UpdateSampleParameter</servlet-name>
    <servlet-class>unidaplan.UpdateSampleParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSampleParameter</servlet-name>
    <url-pattern>/update-sample-parameter.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Add sample parameter</description>
    <display-name>AddSampleParameter</display-name>
    <servlet-name>AddSampleParameter</servlet-name>
    <servlet-class>unidaplan.AddSampleParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSampleParameter</servlet-name>
    <url-pattern>/add-sample-parameter.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Change the status of an experiment</description>
    <display-name>ChangeExperimentStatus</display-name>
    <servlet-name>ChangeExperimentStatus</servlet-name>
    <servlet-class>unidaplan.ChangeExperimentStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeExperimentStatus</servlet-name>
    <url-pattern>/change-experiment-status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Show a single Experiment</description>
    <display-name>Experiment</display-name>
    <servlet-name>Experiment</servlet-name>
    <servlet-class>unidaplan.Experiment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Experiment</servlet-name>
    <url-pattern>/experiment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Update a parameter of an experiment</description>
    <display-name>UpdateExperimentParameter</display-name>
    <servlet-name>UpdateExperimentParameter</servlet-name>
    <servlet-class>unidaplan.UpdateExperimentParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateExperimentParameter</servlet-name>
    <url-pattern>/update-experiment-parameter.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Add a Parameter of an experiment</description>
    <display-name>AddExperimentParameter</display-name>
    <servlet-name>AddExperimentParameter</servlet-name>
    <servlet-class>unidaplan.AddExperimentParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExperimentParameter</servlet-name>
    <url-pattern>/add-experiment-parameter.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Add a user</description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>unidaplan.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/add-user.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Get a list of users</description>
    <display-name>GetUsers</display-name>
    <servlet-name>GetUsers</servlet-name>
    <servlet-class>unidaplan.GetUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUsers</servlet-name>
    <url-pattern>/get-users.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Get a single user</description>
    <display-name>GetUser</display-name>
    <servlet-name>GetUser</servlet-name>
    <servlet-class>unidaplan.GetUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUser</servlet-name>
    <url-pattern>/get-user.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Delete user</description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>unidaplan.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/delete-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Sign Up</description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>unidaplan.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/sign-up</url-pattern>
  </servlet-mapping>
    <servlet>
    <description>Login</description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>unidaplan.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Logout</description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>unidaplan.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>AddSample</description>
    <display-name>AddSample</display-name>
    <servlet-name>AddSample</servlet-name>
    <servlet-class>unidaplan.AddSample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSample</servlet-name>
    <url-pattern>/add-sample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>AddSamplesToProcess</description>
    <display-name>AddSamplesToProcess</display-name>
    <servlet-name>AddSamplesToProcess</servlet-name>
    <servlet-class>unidaplan.AddSamplesToProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSamplesToProcess</servlet-name>
    <url-pattern>/add-sample-to-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>AddAncestors</description>
    <display-name>AddAncestors</display-name>
    <servlet-name>AddAncestors</servlet-name>
    <servlet-class>unidaplan.AddAncestors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAncestors</servlet-name>
    <url-pattern>/add-ancestors</url-pattern>
  </servlet-mapping>
   <servlet>
    <description>AddChildren</description>
    <display-name>AddChildren</display-name>
    <servlet-name>AddChildren</servlet-name>
    <servlet-class>unidaplan.AddChildren</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddChildren</servlet-name>
    <url-pattern>/add-children</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>AvailableProcesstypes</description>
    <display-name>AvailableProcesstypes</display-name>
    <servlet-name>AvailableProcesstypes</servlet-name>
    <servlet-class>unidaplan.AvailableProcesstypes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailableProcesstypes</servlet-name>
    <url-pattern>/available-processtypes</url-pattern>
  </servlet-mapping>
    <servlet>
    <description>AddProcess</description>
    <display-name>AddProcess</display-name>
    <servlet-name>AddProcess</servlet-name>
    <servlet-class>unidaplan.AddProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProcess</servlet-name>
    <url-pattern>/add-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>ProcessByNumber</description>
    <display-name>ProcessByNumber</display-name>
    <servlet-name>ProcessByNumber</servlet-name>
    <servlet-class>unidaplan.ProcessByNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessByNumber</servlet-name>
    <url-pattern>/process-by-number</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>DeleteProcess</description>
    <display-name>DeleteProcess</display-name>
    <servlet-name>DeleteProcess</servlet-name>
    <servlet-class>unidaplan.DeleteProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProcess</servlet-name>
    <url-pattern>/delete-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>DeleteSample</description>
    <display-name>DeleteSample</display-name>
    <servlet-name>DeleteSample</servlet-name>
    <servlet-class>unidaplan.DeleteSample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSample</servlet-name>
    <url-pattern>/delete-sample</url-pattern>
  </servlet-mapping>
    <servlet>
    <description>DeleteExperiment</description>
    <display-name>DeleteExperiment</display-name>
    <servlet-name>DeleteExperiment</servlet-name>
    <servlet-class>unidaplan.DeleteExperiment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteExperiment</servlet-name>
    <url-pattern>/delete-experiment</url-pattern>
  </servlet-mapping>
</web-app>