<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>1440</session-timeout>
  </session-config>
  
  <servlet>
    <description>AddProcesstypePGParameters</description>
    <display-name>AddProcesstypePGParameters</display-name>
    <servlet-name>AddProcesstypePGParameters</servlet-name>
    <servlet-class>unidaplan.AddProcesstypePGParameters</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProcesstypePGParameters</servlet-name>
    <url-pattern>/add-pt-pg-parameters</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>AddPTSRParameter</description>
    <display-name>AddPTSRParameter</display-name>
    <servlet-name>AddPTSRParameter</servlet-name>
    <servlet-class>unidaplan.AddPTSRParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPTSRParameter</servlet-name>
    <url-pattern>/add-pt-sr-parameter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>AddSampletypeParameters</description>
    <display-name>AddSampletypeParameters</display-name>
    <servlet-name>AddSampletypeParameters</servlet-name>
    <servlet-class>unidaplan.AddSampletypeParameters</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSampletypeParameters</servlet-name>
    <url-pattern>/add-st-parameters</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>shows samples with a name close to parameter name</description>
    <display-name>SamplesByName</display-name>
    <servlet-name>SamplesByName</servlet-name>
    <servlet-class>unidaplan.SamplesByName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SamplesByName</servlet-name>
    <url-pattern>/samples_by_name</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>shows all parameters for one process type</description>
    <display-name>AllProcessTypeParams</display-name>
    <servlet-name>AllProcessTypeParams</servlet-name>
    <servlet-class>unidaplan.AllProcessTypeParams</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllProcessTypeParams</servlet-name>
    <url-pattern>/all-process-type-params</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>shows all parameters for one sample type</description>
    <display-name>AllSampleTypeParams</display-name>
    <servlet-name>AllSampleTypeParams</servlet-name>
    <servlet-class>unidaplan.AllSampleTypeParams</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllSampleTypeParams</servlet-name>
    <url-pattern>/all-sample-type-params</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>AddParameter</description>
    <display-name>AddParameter</display-name>
    <servlet-name>AddParameter</servlet-name>
    <servlet-class>unidaplan.AddParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddParameter</servlet-name>
    <url-pattern>/add-parameter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Add search</description>
    <display-name>AddSearch</display-name>
    <servlet-name>AddSearch</servlet-name>
    <servlet-class>unidaplan.AddSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSearch</servlet-name>
    <url-pattern>/add-search</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>AssignGroupToUser</description>
    <display-name>AssignGroupToUser</display-name>
    <servlet-name>AssignGroupToUser</servlet-name>
    <servlet-class>unidaplan.AssignGroupToUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignGroupToUser</servlet-name>
    <url-pattern>/assign-group-to-user</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>shows available sample types</description>
    <display-name>Sampletypes</display-name>
    <servlet-name>Sampletypes</servlet-name>
    <servlet-class>unidaplan.Sampletypes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sampletypes</servlet-name>
    <url-pattern>/sampletypes</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>shows available Experiments</description>
    <display-name>Experiments</display-name>
    <servlet-name>Experiments</servlet-name>
    <servlet-class>unidaplan.Experiments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Experiments</servlet-name>
    <url-pattern>/experiments</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>show a process</description>
    <display-name>Process</display-name>
    <servlet-name>Process</servlet-name>
    <servlet-class>unidaplan.Process</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Process</servlet-name>
    <url-pattern>/process</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>Save a parameter for a sample</description>
    <display-name>SaveSampleParameter</display-name>
    <servlet-name>SaveSampleParameter</servlet-name>
    <servlet-class>unidaplan.SaveSampleParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveSampleParameter</servlet-name>
    <url-pattern>/save-sample-parameter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Change the status of an experiment</description>
    <display-name>ChangeExperimentStatus</display-name>
    <servlet-name>ChangeExperimentStatus</servlet-name>
    <servlet-class>unidaplan.ChangeExperimentStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeExperimentStatus</servlet-name>
    <url-pattern>/change-experiment-status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Show a single Experiment</description>
    <display-name>Experiment</display-name>
    <servlet-name>Experiment</servlet-name>
    <servlet-class>unidaplan.Experiment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Experiment</servlet-name>
    <url-pattern>/experiment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Update a parameter of an experiment</description>
    <display-name>UpdateExperimentParameter</display-name>
    <servlet-name>UpdateExperimentParameter</servlet-name>
    <servlet-class>unidaplan.UpdateExperimentParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateExperimentParameter</servlet-name>
    <url-pattern>/update-experiment-parameter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Add a new group</description>
    <display-name>AddGroup</display-name>
    <servlet-name>AddGroup</servlet-name>
    <servlet-class>unidaplan.AddGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGroup</servlet-name>
    <url-pattern>/add-group</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Add a new possible value</description>
    <display-name>AddPossibleValue</display-name>
    <servlet-name>AddPossibleValue</servlet-name>
    <servlet-class>unidaplan.AddPossibleValue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPossibleValue</servlet-name>
    <url-pattern>/add-possible-value</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Add a user</description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>unidaplan.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/add-user</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>AssignGroupMembers</description>
    <display-name>AssignGroupMembers</display-name>
    <servlet-name>AssignGroupMembers</servlet-name>
    <servlet-class>unidaplan.AssignGroupMembers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignGroupMembers</servlet-name>
    <url-pattern>/assign-group-members</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>ChangeOrderSearchOutput</description>
    <display-name>ChangeOrderSearchOutput</display-name>
    <servlet-name>ChangeOrderSearchOutput</servlet-name>
    <servlet-class>unidaplan.ChangeOrderSearchOutput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeOrderSearchOutput</servlet-name>
    <url-pattern>/change-order-search-output</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Delete a group</description>
    <display-name>DeleteGroup</display-name>
    <servlet-name>DeleteGroup</servlet-name>
    <servlet-class>unidaplan.DeleteGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGroup</servlet-name>
    <url-pattern>/delete-group</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Delete a file</description>
    <display-name>DeleteFile</display-name>
    <servlet-name>DeleteFile</servlet-name>
    <servlet-class>unidaplan.DeleteFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFile</servlet-name>
    <url-pattern>/delete-file</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Download a file</description>
    <display-name>FileDownload</display-name>
    <servlet-name>FileDownload</servlet-name>
    <servlet-class>unidaplan.FileDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownload</servlet-name>
    <url-pattern>/file-download/*</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description>Get a single user for editing</description>
    <display-name>GetUser</display-name>
    <servlet-name>GetUser</servlet-name>
    <servlet-class>unidaplan.GetUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUser</servlet-name>
    <url-pattern>/get-user</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Get a list of users</description>
    <display-name>GetUsers</display-name>
    <servlet-name>GetUsers</servlet-name>
    <servlet-class>unidaplan.GetUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUsers</servlet-name>
    <url-pattern>/get-users</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Get the user groups (only admins)</description>
    <display-name>GetGroups</display-name>
    <servlet-name>GetGroups</servlet-name>
    <servlet-class>unidaplan.GetGroups</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGroups</servlet-name>
    <url-pattern>/get-groups</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Get a single user for signing up with a token</description>
    <display-name>GetUserWithToken</display-name>
    <servlet-name>GetUserWithToken</servlet-name>
    <servlet-class>unidaplan.GetUserWithToken</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserWithToken</servlet-name>
    <url-pattern>/get-user-with-token</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description>Delete Search Parameter</description>
    <display-name>DeleteSearchParameter</display-name>
    <servlet-name>DeleteSearchParameter</servlet-name>
    <servlet-class>unidaplan.DeleteSearchParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSearchParameter</servlet-name>
    <url-pattern>/delete-search-parameter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Delete user</description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>unidaplan.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/delete-user</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>a searchresult</description>
    <display-name>Result</display-name>
    <servlet-name>Result</servlet-name>
    <servlet-class>unidaplan.Result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Result</servlet-name>
    <url-pattern>/result</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>data for search editing</description>
    <display-name>SearchData</display-name>
    <servlet-name>SearchData</servlet-name>
    <servlet-class>unidaplan.SearchData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchData</servlet-name>
    <url-pattern>/searchdata</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>data for entering search criteria</description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>unidaplan.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Sign Up</description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>unidaplan.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/sign-up</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Login</description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>unidaplan.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Logout</description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>unidaplan.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>AddSample</description>
    <display-name>AddSample</display-name>
    <servlet-name>AddSample</servlet-name>
    <servlet-class>unidaplan.AddSample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSample</servlet-name>
    <url-pattern>/add-sample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>AddSamplesToProcess</description>
    <display-name>AddSamplesToProcess</display-name>
    <servlet-name>AddSamplesToProcess</servlet-name>
    <servlet-class>unidaplan.AddSamplesToProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSamplesToProcess</servlet-name>
    <url-pattern>/add-sample-to-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>AddAncestors</description>
    <display-name>AddAncestors</display-name>
    <servlet-name>AddAncestors</servlet-name>
    <servlet-class>unidaplan.AddAncestors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAncestors</servlet-name>
    <url-pattern>/add-ancestors</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>AddChildren</description>
    <display-name>AddChildren</display-name>
    <servlet-name>AddChildren</servlet-name>
    <servlet-class>unidaplan.AddChildren</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddChildren</servlet-name>
    <url-pattern>/add-children</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>AvailableProcesstypes</description>
    <display-name>AvailableProcesstypes</display-name>
    <servlet-name>AvailableProcesstypes</servlet-name>
    <servlet-class>unidaplan.AvailableProcesstypes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailableProcesstypes</servlet-name>
    <url-pattern>/available-processtypes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>AddProcess</description>
    <display-name>AddProcess</display-name>
    <servlet-name>AddProcess</servlet-name>
    <servlet-class>unidaplan.AddProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProcess</servlet-name>
    <url-pattern>/add-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>ProcessByNumber</description>
    <display-name>ProcessByNumber</display-name>
    <servlet-name>ProcessByNumber</servlet-name>
    <servlet-class>unidaplan.ProcessByNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessByNumber</servlet-name>
    <url-pattern>/process-by-number</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>DeleteProcess</description>
    <display-name>DeleteProcess</display-name>
    <servlet-name>DeleteProcess</servlet-name>
    <servlet-class>unidaplan.DeleteProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProcess</servlet-name>
    <url-pattern>/delete-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>DeleteSample</description>
    <display-name>DeleteSample</display-name>
    <servlet-name>DeleteSample</servlet-name>
    <servlet-class>unidaplan.DeleteSample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSample</servlet-name>
    <url-pattern>/delete-sample</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>DeleteExperiment</description>
    <display-name>DeleteExperiment</display-name>
    <servlet-name>DeleteExperiment</servlet-name>
    <servlet-class>unidaplan.DeleteExperiment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteExperiment</servlet-name>
    <url-pattern>/delete-experiment</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>DeletePossibleValue</description>
    <display-name>DeletePossibleValue</display-name>
    <servlet-name>DeletePossibleValue</servlet-name>
    <servlet-class>unidaplan.DeletePossibleValue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePossibleValue</servlet-name>
    <url-pattern>/delete-possible-value</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>DeleteSampleFromExperiment</description>
    <display-name>DeleteSampleFromExperiment</display-name>
    <servlet-name>DeleteSampleFromExperiment</servlet-name>
    <servlet-class>unidaplan.DeleteSampleFromExperiment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSampleFromExperiment</servlet-name>
    <url-pattern>/delete-sample-from-experiment</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>ReplaceSampleInExperiment</description>
    <display-name>ReplaceSampleInExperiment</display-name>
    <servlet-name>ReplaceSampleInExperiment</servlet-name>
    <servlet-class>unidaplan.ReplaceSampleInExperiment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplaceSampleInExperiment</servlet-name>
    <url-pattern>/replace-sample-in-experiment</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>AddSampleToExperiment</description>
    <display-name>AddSampleToExperiment</display-name>
    <servlet-name>AddSampleToExperiment</servlet-name>
    <servlet-class>unidaplan.AddSampleToExperiment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSampleToExperiment</servlet-name>
    <url-pattern>/add-sample-to-experiment</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>DeleteProcessFromExperiment</description>
    <display-name>DeleteProcessFromExperiment</display-name>
    <servlet-name>DeleteProcessFromExperiment</servlet-name>
    <servlet-class>unidaplan.DeleteProcessFromExperiment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProcessFromExperiment</servlet-name>
    <url-pattern>/delete-process-from-experiment</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description>ExchangePosPTSRParameter</description>
    <display-name>ExchangePosPTSRParameter</display-name>
    <servlet-name>ExchangePosPTSRParameter</servlet-name>
    <servlet-class>unidaplan.ExchangePosPTSRParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExchangePosPTSRParameter</servlet-name>
    <url-pattern>/exchange-pos-pt-sr-parameter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>AddProcessToExperiment</description>
    <display-name>AddProcessToExperiment</display-name>
    <servlet-name>AddProcessToExperiment</servlet-name>
    <servlet-class>unidaplan.AddProcessToExperiment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProcessToExperiment</servlet-name>
    <url-pattern>/add-process-to-experiment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>UpdatePositionsForProcessesInExperiment</description>
    <display-name>UpdatePositionsForProcessesInExperiment</display-name>
    <servlet-name>UpdatePositionsForProcessesInExperiment</servlet-name>
    <servlet-class>unidaplan.UpdatePositionsForProcessesInExperiment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePositionsForProcessesInExperiment</servlet-name>
    <url-pattern>/update-positions-for-processes-in-experiment</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>MarkAllProcessesInExperiment</description>
    <display-name>MarkAllProcessesInExperiment</display-name>
    <servlet-name>MarkAllProcessesInExperiment</servlet-name>
    <servlet-class>unidaplan.MarkAllProcessesInExperiment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarkAllProcessesInExperiment</servlet-name>
    <url-pattern>/mark-all-processes-in-experiment</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>DeactivateProcessStep</description>
    <display-name>DeactivateProcessStep</display-name>
    <servlet-name>DeactivateProcessStep</servlet-name>
    <servlet-class>unidaplan.DeactivateProcessStep</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeactivateProcessStep</servlet-name>
    <url-pattern>/deactivate-process-step</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>AddProcessStep</description>
    <display-name>AddProcessStep</display-name>
    <servlet-name>AddProcessStep</servlet-name>
    <servlet-class>unidaplan.AddProcessStep</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProcessStep</servlet-name>
    <url-pattern>/add-process-step</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>ExpStepChangeRecipe</description>
    <display-name>ExpStepChangeRecipe</display-name>
    <servlet-name>ExpStepChangeRecipe</servlet-name>
    <servlet-class>unidaplan.ExpStepChangeRecipe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpStepChangeRecipe</servlet-name>
    <url-pattern>/exp-step-change-recipe</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>MoveParameterToGrp</description>
    <display-name>MoveParameterToGrp</display-name>
    <servlet-name>MoveParameterToGrp</servlet-name>
    <servlet-class>unidaplan.MoveParameterToGrp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveParameterToGrp</servlet-name>
    <url-pattern>/move-parameter-to-grp</url-pattern>
  </servlet-mapping>
    
  
  <servlet>
    <description>UpdateExperimentSampleComment</description>
    <display-name>UpdateExperimentSampleComment</display-name>
    <servlet-name>UpdateExperimentSampleComment</servlet-name>
    <servlet-class>unidaplan.UpdateExperimentSampleComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateExperimentSampleComment</servlet-name>
    <url-pattern>/update-experiment-sample-comment</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>UpdateExperimentStepComment</description>
    <display-name>UpdateExperimentStepComment</display-name>
    <servlet-name>UpdateExperimentStepComment</servlet-name>
    <servlet-class>unidaplan.UpdateExperimentStepComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateExperimentStepComment</servlet-name>
    <url-pattern>/update-experiment-step-comment</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>DeleteExperimentParameter</description>
    <display-name>DeleteExperimentParameter</display-name>
    <servlet-name>DeleteExperimentParameter</servlet-name>
    <servlet-class>unidaplan.DeleteExperimentParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteExperimentParameter</servlet-name>
    <url-pattern>/delete-experiment-parameter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Parameter</description>
    <display-name>Parameter</display-name>
    <servlet-name>Parameter</servlet-name>
    <servlet-class>unidaplan.Parameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Parameter</servlet-name>
    <url-pattern>/parameter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>DeleteParameter</description>
    <display-name>DeleteParameter</display-name>
    <servlet-name>DeleteParameter</servlet-name>
    <servlet-class>unidaplan.DeleteParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteParameter</servlet-name>
    <url-pattern>/delete-parameter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>ResendToken</description>
    <display-name>ResendToken</display-name>
    <servlet-name>ResendToken</servlet-name>
    <servlet-class>unidaplan.ResendToken</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResendToken</servlet-name>
    <url-pattern>/resend-token</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <description>Save a process-parameter, delete all old values.</description>
    <display-name>SaveProcessParameter</display-name>
    <servlet-name>SaveProcessParameter</servlet-name>
    <servlet-class>unidaplan.SaveProcessParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveProcessParameter</servlet-name>
    <url-pattern>/save-process-parameter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>AddProcessType</description>
    <display-name>AddProcessType</display-name>
    <servlet-name>AddProcessType</servlet-name>
    <servlet-class>unidaplan.AddProcessType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProcessType</servlet-name>
    <url-pattern>/add-process-type</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>DeleteProcessType</description>
    <display-name>DeleteProcessType</display-name>
    <servlet-name>DeleteProcessType</servlet-name>
    <servlet-class>unidaplan.DeleteProcessType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProcessType</servlet-name>
    <url-pattern>/delete-process-type</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>AddSampleType</description>
    <display-name>AddSampleType</display-name>
    <servlet-name>AddSampleType</servlet-name>
    <servlet-class>unidaplan.AddSampleType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSampleType</servlet-name>
    <url-pattern>/add-sample-type</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>DeleteSampleType</description>
    <display-name>DeleteSampleType</display-name>
    <servlet-name>DeleteSampleType</servlet-name>
    <servlet-class>unidaplan.DeleteSampleType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSampleType</servlet-name>
    <url-pattern>/delete-sample-type</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <description>DuplicateProcessType</description>
    <display-name>DuplicateProcessType</display-name>
    <servlet-name>DuplicateProcessType</servlet-name>
    <servlet-class>unidaplan.DuplicateProcessType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DuplicateProcessType</servlet-name>
    <url-pattern>/duplicate-process-type</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>ImportCSV</description>
    <display-name>ImportCSV</display-name>
    <servlet-name>ImportCSV</servlet-name>
    <servlet-class>unidaplan.ImportCSV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportCSV</servlet-name>
    <url-pattern>/import-csv</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>ImportIntoDB</description>
    <display-name>ImportIntoDB</display-name>
    <servlet-name>ImportIntoDB</servlet-name>
    <servlet-class>unidaplan.ImportIntoDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportIntoDB</servlet-name>
    <url-pattern>/import-into-db</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>ProcessTypeParamGrps</description>
    <display-name>ProcessTypeParamGrps</display-name>
    <servlet-name>ProcessTypeParamGrps</servlet-name>
    <servlet-class>unidaplan.ProcessTypeParamGrps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessTypeParamGrps</servlet-name>
    <url-pattern>/process-type-param-grps</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>gives data for one sample parameter definition</description>
    <display-name>SingleSTParameter</display-name>
    <servlet-name>SingleSTParameter</servlet-name>
    <servlet-class>unidaplan.SingleSTParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleSTParameter</servlet-name>
    <url-pattern>/single-st-parameter</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <description>gives data for one sample parameter definition</description>
    <display-name>SinglePOParameter</display-name>
    <servlet-name>SinglePOParameter</servlet-name>
    <servlet-class>unidaplan.SinglePOParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SinglePOParameter</servlet-name>
    <url-pattern>/single-po-parameter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>UpdateSearchOutput</description>
    <display-name>UpdateSearchOutput</display-name>
    <servlet-name>UpdateSearchOutput</servlet-name>
    <servlet-class>unidaplan.UpdateSearchOutput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSearchOutput</servlet-name>
    <url-pattern>/update-search-output</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description>UpdateProcessTypeData</description>
    <display-name>UpdateProcessTypeData</display-name>
    <servlet-name>UpdateProcessTypeData</servlet-name>
    <servlet-class>unidaplan.UpdateProcessTypeData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProcessTypeData</servlet-name>
    <url-pattern>/update-process-type-data</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description>all or just one of the criteria (AND/OR)</description>
    <display-name>UpdateSearchOperation</display-name>
    <servlet-name>UpdateSearchOperation</servlet-name>
    <servlet-class>unidaplan.UpdateSearchOperation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSearchOperation</servlet-name>
    <url-pattern>/update-search-operation</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>AddPTParameterGrp</description>
    <display-name>AddPTParameterGrp</display-name>
    <servlet-name>AddPTParameterGrp</servlet-name>
    <servlet-class>unidaplan.AddPTParameterGrp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPTParameterGrp</servlet-name>
    <url-pattern>/add-pt-parameter-grp</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <description>DeletePTParameterGrp</description>
    <display-name>DeletePTParameterGrp</display-name>
    <servlet-name>DeletePTParameterGrp</servlet-name>
    <servlet-class>unidaplan.DeletePTParameterGrp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePTParameterGrp</servlet-name>
    <url-pattern>/delete-pt-parameter-grp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>ExchangePosPTParameterGrp</description>
    <display-name>ExchangePosPTParameterGrp</display-name>
    <servlet-name>ExchangePosPTParameterGrp</servlet-name>
    <servlet-class>unidaplan.ExchangePosPTParameterGrp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExchangePosPTParameterGrp</servlet-name>
    <url-pattern>/exchange-pos-pt-parameter-grp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>ProcessTypeParams</description>
    <display-name>ProcessTypeParams</display-name>
    <servlet-name>ProcessTypeParams</servlet-name>
    <servlet-class>unidaplan.ProcessTypeParams</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessTypeParams</servlet-name>
    <url-pattern>/process-type-params</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>ChangeOrderPTParameters</description>
    <display-name>ChangeOrderPTParameters</display-name>
    <servlet-name>ChangeOrderPTParameters</servlet-name>
    <servlet-class>unidaplan.ChangeOrderPTParameters</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeOrderPTParameters</servlet-name>
    <url-pattern>/change-order-pt-parameters</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>DeletePTParameter</description>
    <display-name>DeletePTParameter</display-name>
    <servlet-name>DeletePTParameter</servlet-name>
    <servlet-class>unidaplan.DeletePTParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePTParameter</servlet-name>
    <url-pattern>/delete-pt-parameter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>DeletePTSRParameter</description>
    <display-name>DeletePTSRParameter</display-name>
    <servlet-name>DeletePTSRParameter</servlet-name>
    <servlet-class>unidaplan.DeletePTSRParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePTSRParameter</servlet-name>
    <url-pattern>/delete-pt-sr-parameter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>ReorderPossibleValues</description>
    <display-name>ReorderPossibleValues</display-name>
    <servlet-name>ReorderPossibleValues</servlet-name>
    <servlet-class>unidaplan.ReorderPossibleValues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReorderPossibleValues</servlet-name>
    <url-pattern>/reorder-possible-values</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description>Returns data for searches of type 4 (sample+process)</description>
    <display-name>ResultType4</display-name>
    <servlet-name>ResultType4</servlet-name>
    <servlet-class>unidaplan.ResultType4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultType4</servlet-name>
    <url-pattern>/result-type4</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description>Searches</description>
    <display-name>Searches</display-name>
    <servlet-name>Searches</servlet-name>
    <servlet-class>unidaplan.Searches</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Searches</servlet-name>
    <url-pattern>/open-searches</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>SinglePTParameter</description>
    <display-name>SinglePTParameter</display-name>
    <servlet-name>SinglePTParameter</servlet-name>
    <servlet-class>unidaplan.SinglePTParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SinglePTParameter</servlet-name>
    <url-pattern>/single-pt-parameter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Change value for a Possible Value for chooser parameter type</description>
    <display-name>UpdatePossibleValue</display-name>
    <servlet-name>UpdatePossibleValue</servlet-name>
    <servlet-class>unidaplan.UpdatePossibleValue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePossibleValue</servlet-name>
    <url-pattern>/update-possible-value</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>update rights of groups for sampletypes, processtypes,...</description>
    <display-name>UpdateGroupRights</display-name>
    <servlet-name>UpdateGroupRights</servlet-name>
    <servlet-class>unidaplan.UpdateGroupRights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGroupRights</servlet-name>
    <url-pattern>/update-group-rights</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>UpdateProcessNumber</description>
    <display-name>UpdateProcessNumber</display-name>
    <servlet-name>UpdateProcessNumber</servlet-name>
    <servlet-class>unidaplan.UpdateProcessNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProcessNumber</servlet-name>
    <url-pattern>/update-process-number</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>UpdatePTParamGrp</description>
    <display-name>UpdatePTParamGrp</display-name>
    <servlet-name>UpdatePTParamGrp</servlet-name>
    <servlet-class>unidaplan.UpdatePTParamGrp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePTParamGrp</servlet-name>
    <url-pattern>/update-pt-paramgrp</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description>UpdatePOParameter</description>
    <display-name>UpdatePOParameter</display-name>
    <servlet-name>UpdatePOParameter</servlet-name>
    <servlet-class>unidaplan.UpdatePOParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePOParameter</servlet-name>
    <url-pattern>/update-po-parameter</url-pattern>
  </servlet-mapping>
      
  <servlet>
    <description>UpdatePTParameter</description>
    <display-name>UpdatePTParameter</display-name>
    <servlet-name>UpdatePTParameter</servlet-name>
    <servlet-class>unidaplan.UpdatePTParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePTParameter</servlet-name>
    <url-pattern>/update-pt-parameter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Update Search Rights</description>
    <display-name>UpdateSearchRights</display-name>
    <servlet-name>UpdateSearchRights</servlet-name>
    <servlet-class>unidaplan.UpdateSearchRights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSearchRights</servlet-name>
    <url-pattern>/update-search-rights</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>UpdateSearchType</description>
    <display-name>UpdateSearchType</display-name>
    <servlet-name>UpdateSearchType</servlet-name>
    <servlet-class>unidaplan.UpdateSearchType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSearchType</servlet-name>
    <url-pattern>/update-search-type</url-pattern>
  </servlet-mapping>
  

 <servlet>
    <description>UpdateUserData</description>
    <display-name>UpdateUserData</display-name>
    <servlet-name>UpdateUserData</servlet-name>
    <servlet-class>unidaplan.UpdateUserData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserData</servlet-name>
    <url-pattern>/update-user-data</url-pattern>
  </servlet-mapping>

   <servlet>
    <description>AddExperimentParameter</description>
    <display-name>AddExperimentParameter</display-name>
    <servlet-name>AddExperimentParameter</servlet-name>
    <servlet-class>unidaplan.AddExperimentParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExperimentParameter</servlet-name>
    <url-pattern>/add-experiment-parameter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>SampleTypeParamGrps</description>
    <display-name>SampleTypeParamGrps</display-name>
    <servlet-name>SampleTypeParamGrps</servlet-name>
    <servlet-class>unidaplan.SampleTypeParamGrps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SampleTypeParamGrps</servlet-name>
    <url-pattern>/sample-type-param-grps</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>UpdateSampleTypeData</description>
    <display-name>UpdateSampleTypeData</display-name>
    <servlet-name>UpdateSampleTypeData</servlet-name>
    <servlet-class>unidaplan.UpdateSampleTypeData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSampleTypeData</servlet-name>
    <url-pattern>/update-sample-type-data</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>upload a file</description>
    <display-name>UploadFile</display-name>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>unidaplan.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/upload-file</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>AddSTParameterGrp</description>
    <display-name>AddSTParameterGrp</display-name>
    <servlet-name>AddSTParameterGrp</servlet-name>
    <servlet-class>unidaplan.AddSTParameterGrp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSTParameterGrp</servlet-name>
    <url-pattern>/add-st-parameter-grp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>ExchangePosSTParameterGrp</description>
    <display-name>ExchangePosSTParameterGrp</display-name>
    <servlet-name>ExchangePosSTParameterGrp</servlet-name>
    <servlet-class>unidaplan.ExchangePosSTParameterGrp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExchangePosSTParameterGrp</servlet-name>
    <url-pattern>/exchange-pos-st-parameter-grp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>SampleTypeParams</description>
    <display-name>SampleTypeParams</display-name>
    <servlet-name>SampleTypeParams</servlet-name>
    <servlet-class>unidaplan.SampleTypeParams</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SampleTypeParams</servlet-name>
    <url-pattern>/sample-type-params</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>shows data for a sample</description>
    <display-name>Showsample</display-name>
    <servlet-name>Showsample</servlet-name>
    <servlet-class>unidaplan.Showsample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Showsample</servlet-name>
    <url-pattern>/showsample</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>UpdateGroupName</description>
    <display-name>UpdateGroupName</display-name>
    <servlet-name>UpdateGroupName</servlet-name>
    <servlet-class>unidaplan.UpdateGroupName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGroupName</servlet-name>
    <url-pattern>/update-group-name</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>UpdateUserRights</description>
    <display-name>UpdateUserRights</display-name>
    <servlet-name>UpdateUserRights</servlet-name>
    <servlet-class>unidaplan.UpdateUserRights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserRights</servlet-name>
    <url-pattern>/update-user-rights</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>UploadFile2</description>
    <display-name>UploadFile2</display-name>
    <servlet-name>UploadFile2</servlet-name>
    <servlet-class>unidaplan.UploadFile2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile2</servlet-name>
    <url-pattern>/upload-file2</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>ChangeOrderSTParameters</description>
    <display-name>ChangeOrderSTParameters</display-name>
    <servlet-name>ChangeOrderSTParameters</servlet-name>
    <servlet-class>unidaplan.ChangeOrderSTParameters</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeOrderSTParameters</servlet-name>
    <url-pattern>/change-order-st-parameters</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>DeleteSearch</description>
    <display-name>DeleteSearch</display-name>
    <servlet-name>DeleteSearch</servlet-name>
    <servlet-class>unidaplan.DeleteSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSearch</servlet-name>
    <url-pattern>/delete-search</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>DeleteSTParameter</description>
    <display-name>DeleteSTParameter</display-name>
    <servlet-name>DeleteSTParameter</servlet-name>
    <servlet-class>unidaplan.DeleteSTParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSTParameter</servlet-name>
    <url-pattern>/delete-st-parameter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>UpdateComparison</description>
    <display-name>UpdateComparison</display-name>
    <servlet-name>UpdateComparison</servlet-name>
    <servlet-class>unidaplan.UpdateComparison</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateComparison</servlet-name>
    <url-pattern>/update-comparison</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Update the number of an experiment</description>
    <display-name>UpdateExperimentNumber</display-name>
    <servlet-name>UpdateExperimentNumber</servlet-name>
    <servlet-class>unidaplan.UpdateExperimentNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateExperimentNumber</servlet-name>
    <url-pattern>/update-experiment-number</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>UpdateObjectOutputParamSearch</description>
    <display-name>UpdateObjectOutputParamSearch</display-name>
    <servlet-name>UpdateObjectOutputParamSearch</servlet-name>
    <servlet-class>unidaplan.UpdateObjectOutputParamSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateObjectOutputParamSearch</servlet-name>
    <url-pattern>/update-object-output-param-search</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>Update a Parameter</description>
    <display-name>UpdateParameter</display-name>
    <servlet-name>UpdateParameter</servlet-name>
    <servlet-class>unidaplan.UpdateParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateParameter</servlet-name>
    <url-pattern>/update-parameter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>UpdateSearchName</description>
    <display-name>UpdateSearchName</display-name>
    <servlet-name>UpdateSearchName</servlet-name>
    <servlet-class>unidaplan.UpdateSearchName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSearchName</servlet-name>
    <url-pattern>/update-search-name</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>UpdateSearchOwner</description>
    <display-name>UpdateSearchOwner</display-name>
    <servlet-name>UpdateSearchOwner</servlet-name>
    <servlet-class>unidaplan.UpdateSearchOwner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSearchOwner</servlet-name>
    <url-pattern>/update-search-owner</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <description>UpdateSearchParam</description>
    <display-name>UpdateSearchParam</display-name>
    <servlet-name>UpdateSearchParam</servlet-name>
    <servlet-class>unidaplan.UpdateSearchParam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSearchParam</servlet-name>
    <url-pattern>/update-search-param</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>UpdateSTParameter</description>
    <display-name>UpdateSTParameter</display-name>
    <servlet-name>UpdateSTParameter</servlet-name>
    <servlet-class>unidaplan.UpdateSTParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSTParameter</servlet-name>
    <url-pattern>/update-st-parameter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>UpdateSTParamGrp</description>
    <display-name>UpdateSTParamGrp</display-name>
    <servlet-name>UpdateSTParamGrp</servlet-name>
    <servlet-class>unidaplan.UpdateSTParamGrp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSTParamGrp</servlet-name>
    <url-pattern>/update-st-paramgrp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>update the value for a parameter in a search</description>
    <display-name>UpdateSearchParamValue</display-name>
    <servlet-name>UpdateSearchParamValue</servlet-name>
    <servlet-class>unidaplan.UpdateSearchParamValue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSearchParamValue</servlet-name>
    <url-pattern>/update-search-param-value</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>DeleteSTParameterGrp</description>
    <display-name>DeleteSTParameterGrp</display-name>
    <servlet-name>DeleteSTParameterGrp</servlet-name>
    <servlet-class>unidaplan.DeleteSTParameterGrp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSTParameterGrp</servlet-name>
    <url-pattern>/delete-st-parameter-grp</url-pattern>
  </servlet-mapping>
</web-app>