<h3>
	{{'Groups'|translate }}
</h3>
<table class="table">
	<thead class=parametertablehead>
		<tr><td><b>ID</b></td><td><b>Name</b></td><td><b>{{'Members'|translate}}</b></td>
			<td><b>{{'Delete Group'|translate}}</b></td></tr>
	</thead>	
	<tbody>
		<tr ng-repeat="group in groupCtrl.groups">
			<td>
				{{group.id}}
			</td>
			<td>
				{{group.name}}
			</td>
			<td>
  				<button type="button"
						class="btn btn-default btn-xs" 
						ng-click="groupCtrl.addMembers(group)">
						<b>+/-</b>
				</button>
			</td>
			<td>
				<button type="button"
						class="btn btn-default btn-xs" 
						ng-click="groupCtrl.deleteGroup(group)"
						ng-show="group.deletable" >
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
		</tr>  <!-- ends ng-repeat -->
		<tr><td></td><td></td><td></td><td></td></tr>
	</tbody>
</table>
	<button type="button"
			class="btn btn-default"
			ng-click="" >
		+  {{'Add Group'|translate}}
	</button>

	