<div ng-controller="samplecontroller as ssc" class="container" ng-show="menuCtrl.currentPage =='process'" > 
<div ng-controller="process as processCtrl">
<p />
<p />	
<p />
<div ng-init="processCtrl.loadProcess(1)"></div>
{{processCtrl.process}}
<h2>{{processCtrl.process.processtype}} {{processCtrl.process.p_number}}</h2>
<h4>Parameter</h4>
<table class="table">
	<tr ng-repeat="parameter in processCtrl.process.parameters">
		<td ng-click="processCtrl.articleClicked(parameter)">{{parameter.name}} :</td>
		<td>{{parameter.value}}
			{{parameter.unit.length>0?parameter.unit:''}}</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
	</tr>
	<!-- um letzten Strich in Tabelle zu erzeugen -->
</table>
		


Verlauf des Prozesses
<h4>Samples in process</h4>
<button>Add/Remove samples</button>
<p />
<p />
<ul>
	<li ng-repeat="sample in processCtrl.samples">
		<a >{{sample}}</a>
	</li>
</ul>
<p />
	<table>
	<tr>
		<td align="center">
			<div ng-hide="true">{{buttonsample=processCtrl.process.previous}}</div> <!--  superdreckig -->
			<span ng-show="sample.previous">&#x25c0; previous <br /> <samplebutton></samplebutton></span>
		</td>
		<td align="center">&nbsp;<br /> &nbsp;
			<button type="button" class="btn btn-danger">Prozess löschen</button>
		</td>
		<td align="center">
			<div ng-hide="true">{{buttonsample=ssc.sample.next}}</div> <!--  superdreckig -->
			<span ng-show="sample.next"> &nbsp; next &nbsp; &#9654;<br />
				&nbsp;<samplebutton></samplebutton></span>
		</td>
	</tr>
</table>
						
						
						
</div> 
</div>