
<h3>Import CSV-File</h3>


<form id="upload_form" action="upload-file" method="post" enctype="multipart/form-data" >
	<span class="btn btn-default btn-file">
    	{{'select file'| translate}}<input type="file" name="file" id="file" onchange="angular.element(this).scope().importCtrl.upload(this)" class="file"/> <br/>
	</span>
</form>
<br/>

{{'type'|translate}}: 

<select
	ng-options="type.index as type.label for type in importCtrl.types"
	ng-model="importCtrl.type"
	class="input-sm">
</select>

<br/>
<br/>

<span ng-show="importCtrl.type=='sample'">
{{"sampletype"|translate}}: 
</span>

<span ng-show="importCtrl.type=='process'">
{{"processtype"|translate}}: 
</span>

<select 
	ng-show="importCtrl.type=='sample'"
	ng-model="importCtrl.activeSampleType"
	ng-options="type.id as type.namef() for type in importCtrl.sampleTypes"
	ng-change="importCtrl.getParameters()"
	class="input-sm">
</select>



<select 
	ng-show="importCtrl.type=='process'"
	ng-model="importCtrl.activeProcessType"
	ng-options="type.id as type.namef() for type in importCtrl.processTypes"
	ng-change="importCtrl.getParameters()"
	class="input-sm">
</select>
<br/>
<br/>



<button 
	ng-show="importCtrl.stuffImported"
	ng-click="importCtrl.importToDB()" 
	class="btn btn-default"> 
	{{'Import into database'|translate}}
</button>
<br/>
<br/>


<table>
	<thead class=parametertablehead>
		<tr>
			<td nowrap class=importtable ng-repeat="heading in importCtrl.table.data[0]">
				{{heading}}
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td nowrap class=importtable ng-repeat="col in importCtrl.columns">
				<select ng-init="col.parameter=0"
					ng-model="col.parameter"
					ng-options="param.id as param.namef() for param in importCtrl.parameters.parameters | orderBy:['parametergroup','pos']"
					class="input-sm">
				</select>
			</td>
		</tr>
		<tr ng-repeat="row in importCtrl.table.data.slice(1) track by $index">
			<td nowrap class=importtable ng-repeat="entry in row track by $index">
				{{entry}}
			</td>
		</tr>
	</tbody>
</table>
<br/>


<button 
	ng-show="importCtrl.stuffImported"
	ng-click="importCtrl.importToDB()" 
	class="btn btn-default"> 
	{{'Import into database'|translate}}
</button>


